[2015-01-14 03:40] griffio opened #1 "Feature Request: Add support for the default Querydsl annotation processor that supports @QueryEntity"
Could the below feature be considered useful for this plugin?

In version 1.0.1 there is no plugin support for accessing the default "com.mysema.query.apt.QuerydslAnnotationProcessor" that generates models for @QueryEntity

e.g.
[code]

The build.gradle task could have an explict option for that annotation processor

e.g.
[code]

I could try and submit a Pull Request for the changes but wanted to

[2015-01-14 10:31] holgerstolzenberg commented on #1
That sounds like a reasonable addition. Adding it should not be too complicated. When do you think you can provide the PR? Otherwise it would be just a small change to add it by myself.

[2015-01-14 13:52] griffio commented on #1
I would be able to provide PR by end of this week as now travelling for next 24hrs.
The plugin is very useful , if you have the time to make the change before I get back then that would be great too.

[2015-01-15 10:37] holgerstolzenberg commented on #1
It would be nice if you could provide a PR. I´d like to have more contributors within the project.

[2015-01-16 14:50] griffio commented on #1
I have pushed the PR as branch issue1.
Changed the core plugin only.
Once the plugin is published then the ReadMe and sample application can be updated.
I tested locally by using the snapshot version of the plugin in the sample application project as below.

[code]

[2015-01-16 14:50] #1 closed

[2015-01-19 11:36] holgerstolzenberg commented on #1
Plugin was released and is available via http://plugins.gradle.org. Sample application has been updated. Global README contains new hint pointing to sample application.

[2015-01-20 10:08] griffio opened #3 "Generated sources are not being added to javac sources by the plugin"
In the querydsl plugin, when there are references of "Q" classes from Java code in "src/main/java" the compileJava task fails.

e.g
[code]
Running the ./gradlew compileJava --debug shows that the generated sources are not being added to javac.

Previously, when setting up the annotation processor manually in gradle I would add generated sources concatenated to the compileJava task source property.

[2015-01-20 10:44] holgerstolzenberg commented on #3
Strange thing. Just for clarification:

"In the querydsl plugin, when there are references of "Q" classes from Java code in "src/main/java" the compileJava task fails."

Wouldn´t that mean that the plugin cannot work at all, because Q classes will never be found within `src/main/java`?

I added the line `static QAnyJpaEntity anyJpaEntity = QAnyJpaEntity.anyJpaEntity;` from the code snippet you pro

[2015-01-20 11:05] holgerstolzenberg commented on #3
Further investigations from you are very welcome.

[2015-01-20 17:01] griffio commented on #3
Ok - will try and come up with something that works for me tomorrow.

How do you see usage of querydsl in a application e.g with Springdata?

IntelliJ will compile ok as the sources are configured but it is the gradle build that fails.

I would expect it to work at least the same as Autovalue, the com.ewerk.gradle.plugins.sample.Bean is referencing the generated AutoValue_Bean.

There are some dif

[2015-01-21 16:15] griffio commented on #3
After trying it on a [test  branch](https://github.com/griffio/gradle-plugins/tree/querydsl-issue/querydsl-plugin), I think having a single Querydsl annotation processor is the way to go,
as it fixed the problem I was experiencing, and removes a bunch of classes from the plugin.

e.g Single task required for annotation processing
[code]

[2015-01-21 16:22] holgerstolzenberg commented on #3
A pull request is very welcome as I am short on time. I´d prefer naming the task `QuerydslCompile` as naming it `QuerydslAnnotationProcessor` is a bit confusing.

[2015-01-22 11:19] holgerstolzenberg commented on #3
Merged the PR. Will test it now and release it today if no problems occur.

[2015-01-22 11:43] griffio commented on #3
Ok - great.
In the sample-application/build.gradle you can also set querydslDefault = true since I added
the AnyQueryEntity class to generate a model if enabled.

e.g
[code]

[2015-01-22 12:40] #3 closed

[2015-01-22 12:44] holgerstolzenberg commented on #3
Done. Plugin is released and available through portal. Docs are updated. Good job @griffio.

[2015-03-06 13:28] martintreurnicht opened #5 "AutoValue Plugin : setting autoValueSourcesDir has no effect"
The issue that i'm having and i'm sure everyone is having is that it puts the generated sources in `build/classes/main/generated` or `build/classes/test/generated_tests`. I'd like to have it change it's root directory to `build/generated` where it then creates it's relative structures ex. `src/main/java` and `src/test/java`

[2015-03-06 23:47] ilx opened #6 "QuerydslCompile task should take into consideration providedCompile and providedRuntime"
QuerydslCompile task should take into consideration providedCompile and providedRuntime added by the war plugin.
Also, it should be possible to extends classpath with arbitrary libs.

[2015-03-11 10:00] holgerstolzenberg commented on #5
Sorry. I cannot follow your argumentation. At first `autoValueSourcesDir` has a effect. It is the folder where your generated auto-value beans will be put. Changing `autoValueSourcesDir` to another folder puts the beans there, I just tested again with the sample application.

The auto-value beans are source files that are created during compilation. We are using a own Gradle `sourceset` for the au

[2015-03-11 10:02] holgerstolzenberg opened #7 "It should be possible to extends classpath with arbitrary libs"

[2015-03-11 10:03] holgerstolzenberg commented on #6
So in the end we have to issues here:

" it should be possible to extends classpath with arbitrary libs" -> #7

[2015-03-11 10:05] holgerstolzenberg commented on #7
@ilx What do you want to achieve with this. Could you please add some detail on your use case.

[2015-03-11 10:06] holgerstolzenberg commented on #6
@ilx What do you want to achieve with this. Could you please add some detail on your use case.

[2015-03-11 16:16] martintreurnicht commented on #5
Ok so i've finally created a sample project. In this sample project things seem to work fine. But i still have the issue that if you create autoValue classes in any other sourceSet than main, it doesn't pick it up in your IDE. This isn't a major issue or probably an issue for most people but it does limit the way you can use it though. There should probably be a naming strategy like `auto-value-{s

[2015-03-11 17:16] ilx commented on #7
Classes may contain annotations found in dependencies provided by runtime container (one could use propdeps-plugin for such dependencies) and querydsl annotation processor will fail if it encounters unknown classes (currently the ones outside compile scope).

[2015-03-12 11:15] ilx commented on #6
Classes may contain annotations found in dependencies provided by runtime container
(I use propdeps-plugin for such dependencies) and querydsl annotation processor will fail if it encounters unknown classes (currently the ones outside compile scope).

[2015-03-13 06:45] holgerstolzenberg commented on #7
Yeah you are right. Sounds reasonable. I am currently under project load and will be for holidays afterwards. The soonest I will be able to provide that feature is mid of april.

[2015-03-13 06:46] holgerstolzenberg commented on #6
Yeah you are right. Sounds reasonable. I am currently under project load and will be for holidays afterwards. The soonest I will be able to provide that feature is mid of april.

[2015-03-13 06:46] holgerstolzenberg commented on #7
Duplicates #6. Closing.

[2015-03-13 06:46] #7 closed

[2015-03-13 06:51] holgerstolzenberg commented on #5
We are using IntelliJ Idea and the source set gets picked up. If your IDE does not, it is a problem with the IDE tooling not with the plugin itself. You may want to try out `eclipse` or `idea` plugin.

I do not get your idea with the naming strategies. There is no need to have a separate test directory for the `auto-value` sources. You just test these source like the main sources from within your

[2015-03-13 06:51] holgerstolzenberg commented on #6
Pull requests welcome though.

[2015-03-19 22:31] jackmatt2 opened #8 "Getting java.lang.NullPointerException"
Build script command
[code]

Error

[code]

Any ideas why this might be?  I can see that the queryDSL objects have been created in the /main/queryDsl/java folder.  I have tried with --debug but it does not tell me what entity is causing the issue.

[2015-03-20 02:47] jackmatt2 commented on #8
I found the issue.

All my domain objects extend a BasicDomainObject class.  This class is in a separate project "common-code" as it is shared with a number of different projects.  It seems that the generator can't find this class and thinks it does not exist.

Do you know of a solution?

[2015-03-20 09:24] holgerstolzenberg commented on #8
Hm seems like this might be an issue how the plugin utilises the classpath of the project. It would be great if you could provide a sample project illustrating the issue.

Still due to holidays, I won´t be able to investigate this before Mid of april.

[2015-03-20 09:50] jackmatt2 commented on #8
I can't give you the exact project but I will try to reproduce in a demo.

[2015-04-10 08:44] holgerstolzenberg commented on #8
Hey @jackmatt2, do you have a sample project available?

[2015-04-10 09:28] jackmatt2 commented on #8
I still need to do one.

[2015-04-10 11:12] jackmatt2 commented on #8
@holgerstolzenberg I have been trying to reproduce this at home but it is working ...

[2015-04-20 08:14] holgerstolzenberg commented on #8
So then I will close that for now. If you have any troubles come back again.

[2015-04-20 08:14] #8 closed

[2015-04-20 08:15] holgerstolzenberg opened #10 "Modify plugin publication process, apply new way of plugin publication to the portal"

[2015-04-20 08:26] #5 closed

[2015-04-20 08:28] holgerstolzenberg opened #11 "Should we delete Bintray account as it is no more needed due to new publication process"
Do not forget to notify users if deletion will take place.

[2015-04-20 08:35] holgerstolzenberg commented on #11
@mkhl @normanpohl What do you think?

[2015-04-21 08:10] holgerstolzenberg commented on #10
Auto-value plugin migrated and released.

[2015-04-22 10:00] holgerstolzenberg commented on #10
Integration-test plugin migrated and released.

[2015-04-22 14:32] holgerstolzenberg commented on #6
Fixed by ef2a3ab6cb85226d641b712568b5dca5aba0bdf3.

[2015-04-22 14:32] #6 closed

[2015-04-22 14:50] holgerstolzenberg commented on #10
Querydsl plugin migrated and released.

[2015-04-22 14:50] #10 closed

[2015-04-27 14:08] mkhl commented on #11
I’m in favour of deleting the account.

[2015-04-27 14:55] bernadeteaquino opened #12 "Problem using querydsl-plugin with gradle plugin for checkstyle"
When I run the command 'gradle build', compilation error occurs in the task 'compileQuerydslJava'. The error reports that the package 'com.mysema.query.types' does not exist. However, this package is on the classpath. This error occurs when using the plugin 'querydsl-plugin' with the gradle plugin for checkstyle. Even with the error, Q* classes are generated. The command output is as follows:
[cod

[2015-05-01 06:54] griffio commented on #12
You can set the checkstyle plugin sourceSets configuration to just use the "main" source set and not execute the querydsl sourceset task.

So, please try adding the following to your build file.

[code]

---

The problem is the task "compileQuerydslJava" that is created by the JavaPlugin and is being executed by the checkstyle plugin by default.

[2015-05-05 12:25] holgerstolzenberg commented on #11
Bintray account was completely deleted and README states that the plugins are now directly hosted at the plugin portal.

[2015-05-05 12:25] #11 closed

[2015-05-05 12:25] holgerstolzenberg commented on #12
@bernadeteaquino Is that okay for you?

[2015-05-11 13:32] griffio opened #13 "New Plugin to support Dagger2?"
Any thoughts on adding Dagger2 to your gradle-plugins collection?

The [Dagger2](http://google.github.io/dagger/) project -"Generates code that mimics the code that a user might have hand-written to ensure that dependency injection is a simple, traceable and performant as it can be."

Dagger2 has been released for a couple months now, I have had a look and think I can push something similar to the

[2015-05-12 11:40] holgerstolzenberg commented on #12
If there is no new information about this, I will close this ticket. @griffio What do you think?

[2015-05-12 11:47] holgerstolzenberg commented on #13
I´d really like to get this one going. Even not having used the Dagger framework so far, why not having a plugin ready when the time comes.

I really appreciate your participation. Seems like it is getting a real open source project now :-)

Build up your PR, I think it should be a separate Plugin (named dagger-plugin). Plugin ID should be `com.ewerk.gradle.plugins.dagger`.

If possible, please al

[2015-05-12 12:36] griffio commented on #12
Yes. Perhaps a simple checkstyle config can be applied to the sample applications to show it plays nice.

[2015-05-12 12:41] holgerstolzenberg commented on #12
Good idea. Will go for it.

[2015-05-12 20:02] bernadeteaquino commented on #12
It worked, thanks! @griffio @holgerstolzenberg

[2015-05-12 20:02] #12 closed

[2015-05-18 14:48] holgerstolzenberg commented on #13
Merged and released. Thanks for your work!

[2015-05-18 14:48] #13 closed

[2015-06-03 13:41] holgerstolzenberg opened #16 "Update querydsl-plugin to use querydsl 4"
Update the querydsl plugin to use querydsl 4 for annotation processing.

[2015-06-03 13:46] holgerstolzenberg opened #17 "Implement custom processor plugin"
@griffio Any further thoughts on this one before you start? Plugin naming for example.

[2015-06-03 14:17] griffio commented on #17
I was thinking about "apt-plugin" or "processor-plugin" since the user is overriding the "-processor" switch.

"There are only two hard things in Computer Science: cache invalidation and naming things."

[2015-06-03 14:21] holgerstolzenberg commented on #16
I just updated the plugin locally and tried to verify it with the sample application. Querydsl processing works so far but upgrading to querydsl 4 breaks compatibility of the Mongo annotation processing as `org.springframework.data.mongodb.repository.support.MongoAnnotationProcessor` comes from spring-data project that still uses querydsl 3.6.x with release version `org.springframework.data:spring

[2015-06-03 14:23] holgerstolzenberg commented on #17
I think 'processor-plugin' is a bit misleading. I think going a bit verbose with 'annoation-processor-plugin' is fine. Do you agree?

[2015-06-03 14:27] griffio commented on #17
Agreed, the most descriptive name is 'annotation-processor-plugin'.

[2015-06-03 14:39] holgerstolzenberg commented on #17
Okay so then I will await your PR.

[2015-06-03 14:46] griffio commented on #16
Yes, my earlier response, l looked over in SpringData, https://jira.spring.io/browse/DATACMNS-670, they are discussing whether to force clients to move to querydsl 4.0.x.
This querydsl plugin depends on the currently released version of Spring Data due to querydsl package renaming.

* We would have to wait for SpringData to move forward before implementing #16.
* I can provide #15 in a day or so a

[2015-06-03 14:52] holgerstolzenberg commented on #16
That sounds reasonable. We will delay this one until https://jira.spring.io/browse/DATACMNS-670 is released.

[2015-06-03 15:26] metawave commented on #16
Okay, sounds good to me. Just found a workaround to generate my morphia classes without any plugin defining a dependency to:

[code]

which brings gradle to run the morphia annotation processor before the compileJava task. Cannot set the output folder (defaults to target/generated-sources/annotations) but that isn't a problem

[2015-06-04 08:37] holgerstolzenberg opened #18 "Implement a plugin for publishing .deb archives to Artifactory"

[2015-06-04 08:44] holgerstolzenberg commented on #18
Plugin initialized with f09aaeebfbae13a9debfcc9ac4a8f4f2a9777493.

[2015-06-09 08:31] holgerstolzenberg commented on #17
Back from holidays, i will release the plugin by today.

[2015-06-09 08:55] holgerstolzenberg commented on #18
Done.

[2015-06-09 08:55] #18 closed

[2015-06-09 12:06] holgerstolzenberg commented on #17
PR was merged.

[2015-06-09 13:30] #17 closed

[2015-06-23 01:09] ben-manes opened #20 "Dagger 2 plugin not downloading using buildscript"
When using the buildscript notation the dagger plugin cannot be found, e.g.

[code]

The `plugins` notation works (as per the sample), but is problematic and incubating. It appears that jitpack.io cannot build the dagger plugin either, probably due to being confused by the shared repository.

It would be helpful if you published this to JCenter, enabled to sync automatically to the Gradle plugins

[2015-06-23 07:35] griffio commented on #20
Can confirm - the list of plugins and versions is not up to date from the external repos.

When updated, I believe, a plugin script notation should be using the repository location at  "https://plugins.gradle.org/m2/" and not jcenter as in the sample Readme.

Could be when the change over to use "com.gradle.plugin-publish" was made?

Example of plugin using with plugins repo (https://plugins.gradl

[2015-06-23 07:42] ben-manes commented on #20
Using the plugin repository location doesn't work, for some unknown reason. The error message I posted used that (and a few others that I trimmed off).

`https://plugins.gradle.org/m2/com/ewerk/gradle/plugins/dagger-plugin/1.0.0/dagger-plugin-1.0.0.pom` responds with a 404, though somehow Gradle can download with the plugin dsl.

My suggestion is to use the JCenter sync option for the maximum flex

[2015-06-23 08:23] holgerstolzenberg commented on #20
To be honest, I always try to use the `plugins` notation, as I do not like the old style. The publication process has changed some time ago and Bintray is not involved directly, as I publish to the Plugin Portal itself using a plugin provided by Gradle. I do not know how the publication is managed internally, it seems that Bintray is still involved somehow.

@ben-manes I can confirm that your exam

[2015-06-24 00:44] ben-manes commented on #20
@holgerstolzenberg You're right that changing the groupId resolves the problem, but identified anther one. In its current form, it is [incompatible](https://github.com/ewerk/gradle-plugins/blob/master/dagger-plugin/src/main/groovy/com/ewerk/gradle/plugins/DaggerPlugin.groovy#L39) with the Android plugin. This is because it applies the `java` plugin.

Instead you should identify which plugin (java

[2015-06-24 07:34] griffio commented on #20
I am happy to try and add this as I committed the Dagger plugin, if @holgerstolzenberg thinks its ok to support.  Most folks adopting Dagger2 would be Android.
Previously, I looked at the apt plugin https://bitbucket.org/hvisser/android-apt - that didn't support Java plugin use. There is a scenario mentioned there when a user's project wants annotation processing with both Java and Android modules

[2015-06-24 08:06] holgerstolzenberg commented on #20
I am fine with that. I think this may be a problem for all of the plugins and maybe needs to be changed for  them all.

For me this raises the question whether this is some general design flaw? What do you guys think?

[2015-06-24 13:33] griffio commented on #20
I don't think it is flawed, there are just different audiences for each plugin.
Autovalue and Dagger are the plugins that would attract Android users. Querydsl not so much.

The only 'competing' plugin is the generic https://bitbucket.org/hvisser/android-apt; but I like having specific plugins for libraries as there is less setup and noise (e.g. buildscript).

For example, I don't want any default

[2015-06-25 09:33] holgerstolzenberg commented on #20
Okay. I aggree.

@griffio Are you interested in providing the necessary PR?

[2015-06-25 12:17] griffio commented on #20
I am still looking into how to do this; but is it clear that Android plugins need different setup instead of  creating JavaCompile tasks (These configured in build variants).

So, I will try over the weekend to create a PR for Dagger only.
Otherwise, I fail :( and will let you know.

[2015-08-28 23:15] L3K0V opened #22 "Error: Unable to load class 'org.gradle.platform.base.internal.toolchain.ToolResolver'"
I create new simple project with build.gradle:

[code]
and when I try to refresh (sync) gradle this error is returned:

Possible causes for this unexpected error include:<ul><li>Gradle's dependency cache may be corrupt (this sometimes occurs after a network connection timeout.)
<a href="syncProject">Re-download dependencies and sync project (requires network)</a></li><li>The state of a Gradle buil

[2015-08-29 09:22] thekalinga commented on #16
Will this be addressed if we allow the user to customize even the annotation processor from the plugin configuration?

[2015-08-29 11:00] griffio commented on #16
@thekalinga
Hi,
Currently, it is addressed by using https://github.com/ewerk/gradle-plugins/tree/master/annotation-processor-plugin. You can get the same convenience using a generic annotation processor. This assumes you are using a single processor which is customised as required.

[code]

[2015-08-30 03:09] thekalinga commented on #16
Thanks for your response.

I realized the issue with my Spring data app after migrating to the newer version :). Will hold my apps' migration till querydsl is natively supported.

[2015-09-02 08:05] #20 closed

[2015-09-02 08:06] holgerstolzenberg commented on #22
Could you please try with Gradle 2.5?

[2015-09-02 08:23] holgerstolzenberg commented on #22
I just tried by myself and it is definitely related to Gradle 2.6. Something of the internal API changed and broke backward compatibility. I will have to investigate it further. For the meantime, downgrade to Gradle 2.5 and everything is fine.

[2015-09-02 09:40] L3K0V commented on #22
Okay, I will try and confirm with Gradle 2.5

[2015-09-02 10:27] holgerstolzenberg commented on #22
I have just released all plugins and they are now compatible to Gradle 2.6

[2015-09-02 10:27] #22 closed

[2015-09-02 10:55] L3K0V opened #23 "Cannot specify project module as library dependency for annotation processing"
Gradle build:
[code]

and when try to build:

[code]

Is there way to use annotation processor with project module dependency?

[2015-09-02 10:59] holgerstolzenberg commented on #23
No, actually not. It doesn´t even make sense to me. The library is just a String holding the maven coordinates for the library to use for annotation processing.

[2015-09-02 11:40] L3K0V commented on #23
For example I wrote my custom annotation processor for project and want to use it locally without push it to maven.

My project structure is as follow:

[code]

In last project I try to use your plugin and process it with compiler project.

[2015-09-03 11:30] L3K0V commented on #23
Is there any progress on this. I can try upcoming days or next week to implement it

[2015-09-04 07:33] holgerstolzenberg commented on #23
This is a valid use case though. I will try to have a look at it next week.

@griffio If you think this can be done easily, could you provide a PR?

[2015-09-04 09:41] griffio commented on #23
@L3K0V, firstly do you need help getting a gradle script to work with your project structure and annotation processor?  I can provide some examples so you can get working.

Secondly, we can look at changing the plugin and getting it published which will take into next week.

In the plugin, the library extension property would have to be changed to accept 'project' references.
A reference to the "p

[2015-09-04 13:53] L3K0V commented on #23
It would be great as soon as possible to provide mechanism to allow project references as dependencies, because there isn't available working and customizable annotation processing plugin for gradle which works with pure java (without android plugin) projects.

Next week at some point I can try to implement it. I'm new in Gradle world and it will be interesting to me.

Greetings

[2015-09-07 09:49] griffio commented on #23
Hi @L3K0V,

I have made a small change on a fork in issue#23 branch (github.com:griffio/gradle-plugins.git)

Something for you to try and get something to work with.

Steps:

Ensure your Java 7 is java_home. Assumes up to date version of git.
[code]

( install the plugin to your local maven repo)

[code]

(clone example of three module gradle project.)

[code]

folder application/src/annotationPro

[2015-09-07 11:30] L3K0V commented on #23
Hi @griffio later today (in a few hours) will provide you feedback :)

[2015-09-07 13:42] L3K0V commented on #23
@griffio It's working with 1.0.2 from issue#23 branch.

I compile annotation plugin from issue#23 and install it to local maven. Then some gradle.build changes and voalla. :)

Will you push this feature with a new version of the plugin?

Thanks,
Asen

[2015-09-07 14:28] griffio commented on #23
@L3K0V. Great that it helped you.

I will certainly create the PR for this shortly.

griffio.

[2015-09-08 10:44] holgerstolzenberg commented on #23
I have release version 1.0.2 by now. It should ne available at the plugin portal.

@griffio Thanks for the fast PR.

[2015-09-08 10:44] #23 closed

[2015-09-08 13:30] L3K0V commented on #23
Thanks to you all!

[2015-10-12 09:58] L3K0V opened #26 "Annotation processor plugin sourceSets"
Hi,
I have compiler project and library module in project.
1. Compiler - all annotation processing stuff
2. Project - Annotated classes and other stuff
3. Library - Annotations and utils

AnnotationProcessing plugin generates new classes in generated source set for all annotated classes in Project. So in Project I have main and generated source sets. **All generated classes depends on Library proj

[2015-10-12 10:14] L3K0V commented on #26
#### Another approach:
I try to define new sourceSet

[code]

in dependencies I add

[code]

then again not working jar file looks like:

[code]

and devices package is excluded from jar, generated one must be added but is missing...

[2015-10-12 13:13] griffio commented on #26
Hi @L3K0V,

To try and get a better understanding, the issue here is with creating a JAR - "I cannot include my generated package with all classes from generated source set and in same time to exclude package with annotated classes from main source set"?

Agree, the "generated.java" and "main.java" sources will compile to "sourceSets.main.output" under (build/classes/) and will get archived under

[2015-10-12 15:01] L3K0V commented on #26
Hi @griffio,

Thanks for the answer. I workaround the problem by separate annotated classes and generated in packages with different names. Your suggestion also will do the work, but...

I notice that you include all generated files in main source set.The question is if there is way to select annotationProcessor's sourceset with `from...` in jar task for example?

And second question - is there wa

[2015-10-13 16:34] griffio commented on #26
Hi @L3K0V,

1. The “generated” SourceSet is compiled to “build/main/” because the standard tasks use that class-path by default. e.g JAR task.

The “classes/build/generated” output class-path does not exist and “from sourceSets.generated.output” wouldn’t provide any files to the JAR task. It is possible in Gradle to have separate class-paths (for main and generated SourceSets) but the JAR task the

[2015-10-13 19:25] #26 closed

[2015-10-30 05:56] nedtwigg opened #27 "If you set autoValueSourcesDir to be the source dir, you lose all of your source"
If you do this:

[code]

Then SOURCE DIRECTORY will be deleted.  Maybe I should have seen this coming, but I definitely just deleted all my source code.

Eclipse "restore from history" FTW!

[2015-10-30 08:27] griffio commented on #27
Hi @nedtwigg - Glad you got it back.

Yes  - it is possible to generate the source code into your "src/main/java" but then if you use "clean" it will wipe out the whole file tree.

Were you intentionally trying to mix the main src and generated src together?
I haven't used eclipse - does it support additional src directories?

Regards, @griffio

[2015-10-30 09:34] nedtwigg commented on #27
Yup.  I don't do that anymore, what with my source code being valuable to me ;-)

It does.  I think it would be perfectly reasonable to say "we don't support setting the generated directory to be the source directory", and throw a build error if the user tries to do it.  It would also be reasonable to only clean "AutoValue_" classes.  But the current state makes it very easy to accidentally shoot

[2015-10-30 10:38] holgerstolzenberg commented on #27
I think it difficult to just say we throw an exception in that case. I am on your side, but there may be someone else who really needs it this way!? At least everything can be resolved by configuration.

[2015-10-30 12:02] griffio commented on #27
@holgerstolzenberg

Raising an exception, the check would have to ensure that "autoValueSourcesDir" is not pointing to *any* other existing source folder and is probably too pessimistic compared to the alternative.

If I can look into using a *soft delete* in the clean task that removes "AutoValue_" source files from the "autoValueSourcesDir" tree and only deletes the directory if its empty.

This

[2015-10-30 12:53] nedtwigg commented on #27
I'm not generating the code into my source directory any more.  It's not a big deal to me to have a separate folder, and I'm not gonna risk combining them again, regardless of where this issue goes, so I'm not super invested.

If there is, then they can raise an issue.  I don't think anyone wants to delete their source code when they do `clean build`.  On the bright side, the build is really reall

[2015-10-30 14:13] griffio commented on #27
@nedtwigg Ok thanks, agreed we shouldn't blindly delete the main source folder!

@holgerstolzenberg After investigating, the auto-value plugin, https://github.com/ewerk/gradle-plugins/blob/master/plugins/auto-value-plugin/src/main/groovy/com/ewerk/gradle/plugins/AutoValuePlugin.groovy#L70, When source/generated source is co-located it can't an existing "generated" file - internal java annotation p

[2015-11-02 15:08] holgerstolzenberg commented on #27
The PR has been merged and released. Plugin in version 1.0.6 available at the portal.

@griffio Thanks for your fast response and help. Always a pleasure.

[2015-11-02 15:09] #27 closed

[2015-11-02 15:11] holgerstolzenberg commented on #16
Seems like Spring-Data project has delayed this to its release milestone `Hopper`.

[2015-11-18 09:30] nedtwigg opened #29 "autovalue.shaded gets added to the compile classpath"
I use Guava in my project - lots of `Preconditions` and `ImmutableList`.  I also use "auto-fix imports" a lot.  Now I've got a bunch of this in my project:

[code]

when what I really want is the regular guava classes without the `autovalue.shaded` stuff.  Worse still, the project compiles great!

Maybe there's no way to put `@AutoValue` on the classpath without putting this stuff in there too.  B

[2015-11-18 12:21] griffio commented on #29
@nedtwigg

Hey, I have come across this before, seen it in other projects that use autovalue.

I got around it by configuring the editor(Intellij), sure ecplise has something too, that will ignore the shaded package names.

In this case they (autovalue) shade guava and apache.commons.
This is likely to isolate themselves from main guava releases which has a "huge" surface area for breaking changes

[2015-11-21 09:51] #29 closed

[2015-11-21 09:52] holgerstolzenberg opened #30 "Add Jaxb2 Plugin for generating Java sources from XSD"

[2015-11-23 10:12] holgerstolzenberg opened #31 "Drop JDK-7 support"
@griffio what do you think about that?

[2015-11-23 10:53] holgerstolzenberg commented on #30
@griffio

I just pushed the new JAXB2 plugin to the repo. I´d like you to do a review and share your thoughts.

The point I am currently thinking about the most is the configuration of dependencies. It was a real pain to figure out which dependencies to use. I am not sure if it is really necessary to give the end-user the opportunity to configure the dependencies of the `jaxb2` configuration by th

[2015-11-23 12:43] griffio commented on #31
@holgerstolzenberg

No problem for me - I don't have any requirements for 1.7.

What breaks currently if this is made the default for plugin development?

Travis CI should be able to run JDK 8 to make builds, initially compiled with target 1.7.

Development environment, should work if the user chooses to run with jdk8. (Most IDEs are now 1.8)

Is there anything that requires JDK 8 language/library

[2015-11-23 12:55] griffio commented on #30
@holgerstolzenberg
Sure will check it out.
My initial thought is that as this wraps an existing ant task (JAXB2) then it should follow same configuration options for dependencies.
However, I think the current dependencies you have can be upgraded from "com.sun"?
https://stackoverflow.com/questions/26413431/which-artifacts-should-i-use-for-jaxb-ri-in-my-maven-project
Regards.
@griffio

[2015-11-23 13:15] holgerstolzenberg commented on #31
Upgrading will mean that end users have to use JDK-8 for all plugins we will release in the future. Thats the only thing I am thinking about. Your list of points is good, they are all safe for me too.

[2015-11-23 16:45] griffio commented on #30
@holgerstolzenberg
The only other suggestion to make, after creating a test project, is to make the default 'generated' directory the same name as the configuration name "jaxb2".

https://github.com/ewerk/gradle-plugins/blob/master/plugins/jaxb2-plugin/src/main/groovy/com/ewerk/gradle/plugins/tasks/XjcTaskConfig.groovy#L13

Intellij, for some reason, creates the a configuration from this name.
htt

[2015-12-25 21:49] karlthepagan opened #32 "dagger-plugin should fail to clean files not @Generated"
steps:
1. configure build using dagger { daggerSourcesDir = 'src/main/java' }
2. gradle clean assemble
3. all source files were deleted. panic, then recover files using git / local file history

alternative resolution: dagger-plugin should fail its clean task if daggerSourcesDir is equal to another entry in the sourceSets

[2015-12-26 12:43] griffio commented on #32
Hi @karlthepagan,

Yep, this is a 'foot-gun' that can happen to a user.

We can apply the fix to the autovalue plugin from [issue27] (https://github.com/ewerk/gradle-plugins/issues/27), I will update the same fix for this plugin, Dagger, too.

Generally, when source/generated source are co-located annotation processors get confused anyway. However, we shouldn't delete your code though!

Thanks. @g

[2015-12-26 18:51] karlthepagan commented on #32
Thanks! I was hoping to shortcut problems I was having with a plugin that doesn't respect the sourceSets conventions, but I'll get off my butt and fix that plugin now! ;)

[2015-12-26 19:56] griffio commented on #32
@karlthepagan,
Ok cool, I will issue a fix for the 'foot-gun' problem anyway, and will then close the issue.
This plugin expects that source and generated are separate sourceSets and should work as default out of the box.

Typically annotation processors, like Autovalue and Dagger2 will put their generated files under project/build tree but we want it to work easily with Intellij.

Regards, @griff

[2016-01-04 09:52] holgerstolzenberg commented on #31
jaxb2-plugin released with JDK-8 required

[2016-01-04 09:53] holgerstolzenberg commented on #30
https://plugins.gradle.org/plugin/com.ewerk.gradle.plugins.jaxb2

[2016-01-04 09:53] #30 closed

[2016-01-04 10:03] holgerstolzenberg commented on #32
Done with 2e9f166d6bed9db8ea75b00094c86de5f0093b5b

[2016-01-04 10:03] #32 closed

[2016-01-04 15:40] gilbertg opened #34 "How do I use this plugin to generate QueryDSL classes from a SQL DB?"
Hi, How do I use this plugin to generate QueryDSL classes from a SQL DB?
This link: https://gist.github.com/jbrackett/095801f357f7e7673dc6
is an example of what we are trying to do - can this plugin do that in a neater way?
~gilbert

[2016-01-05 08:39] holgerstolzenberg commented on #34
The plugin is not intended to do that for you, it follows another use case by creating the `Q` classes from a JPA model. Currently we have no plans implementing a plugin for creating `Q` classes from the SQL model (reverse engineer), as this use case is very rare to us.

This may change in the future.

We would be happy though if you like to provide the plugin as a PR.

[2016-01-06 08:50] #34 closed

[2016-01-16 00:36] ethauvin opened #35 "Annotation Processor Catch 22"
It must be something very obvious, but I simply can't figure it out.

Using the Annontation Processor `:compileAnnoationProcessor` execute my processor as expected, but `:compileJava` fails because my processor's annotation classes cannot be found. If I include my processor to the `dependencies`, then `:compileJava` will fail attempting to again generate the code wich results in duplicate classes.

[2016-01-16 15:39] griffio commented on #35
Hi @ethauvin,
I will try it out and get back to you soon.
Could be that you don't need a plugin if the annotation processor is being picked up in the class-path and executed by the compiler automatically.
Regards, @griffio

[2016-01-16 19:09] ethauvin commented on #35
Thanks, @griffio. That's entirely possible, but I was really looking forward to be able to use the plugin's sourcesDir location for generated source.

[2016-01-16 19:54] griffio commented on #35
Hi @ethauvin,

I have created a fork that seems to work ok. (Also There was a typo in your package name).

https://github.com/griffio/AnnotationProcessorTest/blob/master/build.gradle

Usually, to test something I create a gradle build manually that does there same as the plugin. It's not magic.

Intellij friendly.

run ./gradlew clean run.

I will now test with the plugin configuration.

[2016-01-16 20:26] griffio commented on #35
@ethauvin
Ok, slight tweak needed in your build script for plugin use with this processor to avoid running the processor twice.
Because the annotation processor needs to be in the main classpath - it will be discovered automatically.
So, we just switch annotation processor off in build javac by adding  '-proc:none',
The plugin has its own task and run the proc.

Here below is a plugin build script

[2016-01-16 21:37] ethauvin commented on #35
Thanks, @griffio. Worked like a charm.

Might I suggest that something be added to the plugin's documentation regarding;

[code]

It might save people quite a bit of time...

Thanks again! :+1:

[2016-01-16 21:37] #35 closed

[2016-01-25 22:27] corneil opened #37 "QuerydslAnnotationProcessor executes always"
When using query-dsl plugin I notice that on every compile the Q???.java files are generated and compiled regardless of whether the Java classes with QueryEntity annotations have been modified.

Where should I dig in order to fix this? I have seen any obvious place in query-dsl-plugin? Is it better to look into the annotation processor itself?

[2016-01-26 10:43] corneil commented on #37
My bad, I found the root which was a dependant project always build a jar because the manifest has dynamic properties. Moved manifest to doFirst and problem resolved.

[2016-01-26 10:43] #37 closed

[2016-02-17 10:14] steinsag opened #38 "[jaxb2-plugin] Support incremental builds"
Currently, whenever I run `gradle build`, jaxb2-plugin will generate all classes. This should only happen when my schemas changed or when something changed in the destination directory.

In Gradle, this is called incremental build. See e.g. http://gradle.org/feature-spotlight-incremental-builds/

I believe incremental build support can be easily added in https://github.com/ewerk/gradle-plugins/blo

[2016-02-17 13:36] holgerstolzenberg commented on #38
The easiest way would be to apply your changes, then build the plugin SNAPSHOT and install it to your local maven repo.

[code]

Then you can modify the sample apps `build.gradle`, uncomment the line where the released version is applied from the Gradle plugin portal, add a `buildScript` section that uses `mavenLocal` as repository and apply the SNAPSHOT plugin via `apply plugin: ...`

[2016-03-14 22:09] steinsag commented on #38
Can't get dev setup to work. Here my branch:

https://github.com/steinsag/gradle-plugins/tree/feature/incremental-builds

I installed the changed plugin locally (gradle build install) and verified that it is present in my local maven directory:

    ls ~/.m2/repository/com/ewerk/gradle/plugins/jaxb2-plugin/1.0.2-SNAPSHOT
    jaxb2-plugin-1.0.2-SNAPSHOT-groovydoc.jar  jaxb2-plugin-1.0.2-SNAPSHOT.ja

[2016-03-16 10:57] ieugen commented on #31
Please don't do that. You will force all users of your plugin to require jdk-8 which is not a good idea.
Do you really need the jdk-8 features?
IDE's do not require jdk-8 as of yet. Intellij plans this for version 16. I'm sure it will be the same for Eclipse/Netbeans [1]

Current Debian stable does not ship with JDK-8 by default. It is still 7. The next version will be 8, next year by this time [2

[2016-03-16 11:12] ieugen opened #39 "Support for compileOnly configuration (gradle-2.12) for querydsl - lombok and similar"
Hi,

I'm trying to compile querydsl classes with JPAAnnotationProcessor. I'm using lombok in my classes (not generated ones).

Up unntil now I'm using the provided scope (from provided-base plugin) to have lombok as compile only but I wish to drop that plugin so  I have a cleaner build and less dependencies.

[code]

Switching to `compileOnly` instead of provided throws compilation error since lom

[2016-03-16 12:17] holgerstolzenberg commented on #39
Could you please try to extends from `compile`? At the moment the plugin is composed to look at the `compile` classpath only.

The `provided` scope coming from Maven is a thing not supported by Gradle out of the box and is not what you are looking for I think.

The `compileOnly` classpath is new to me. Could you please provide a documentation link about that?

[2016-03-16 12:23] holgerstolzenberg commented on #31
Well its a hard consideration here. I my opinion, if the community would push faster/harder, JDK-7 won´t be a topic here.

The thing is, all plugin versions released until now will still be usable with JDK-7. Only new releases after JDK-8 compliance won´t be available to JDK-7 users.

Currently there are no plans for feature upgrades of the plugins as they work for us like they are right now. (Exc

[2016-03-16 12:24] holgerstolzenberg commented on #38
Well the error shows that you forgot to add the **local** maven repo to the `buildScript` repos. Please stick to my previous comment for details.

[2016-03-16 12:50] griffio commented on #31
A year ago I would have said stick with JDK 7, I am inclined to agree that JDK 8 as default for the development environment is now the reality. Currently the plugin builds have that set.
Unless you want to publish one last 1.7 targeted build for all plugins and document that as the final supported version?

[2016-03-16 12:52] ieugen commented on #39
Hi,

I managed to fix it after reading your comments.  I had to extend from compileClasspath (read the docs to see how configurations are extended [1]). Since I use lombok in tests I added it to the testCompileOnly configuration.

Thank you,

[code]
CompileOnly was added to java plugin in gradle 2.12 [1]. It is similar to `provided` . I have replaced it in another project and works like a charm, e

[2016-03-16 12:52] #39 closed

[2016-03-16 13:44] steinsag commented on #38
Actually no, see: https://github.com/steinsag/gradle-plugins/blob/feature/incremental-builds/sample-application/build.gradle#L3

[2016-03-23 03:32] TheKojuEffect opened #40 "IntelliJ 2016.1 creates separate module for generated querydsl classes"
It looks like IntelliJ 2016.1 creates separate modules based on directory structure. When the `querydslSourcesDir` is set to `src/querydsl/java`, it creates a separate module `querydsl` and it shows errors in editor showing `Class not found` in main java source files.

https://blog.jetbrains.com/idea/2016/03/intellij-idea-2016-1-is-here/
http://mrhaki.blogspot.com/2016/03/gradle-goodness-source-se

[2016-03-23 04:06] TheKojuEffect commented on #40
I think it is related to intellij gradle plugin. Closing this.

[2016-03-23 11:57] The-Crocop commented on #40
Im struggling with the same Problem. What can we do here?

[2016-03-23 12:11] holgerstolzenberg commented on #40
Well I am still on IntelliJ 15 and could not try. As nothing changed with the plugins, I think it is related to IntelliJ-16. You should file an issue there, maybe @TheKojuEffect already did.

It would be fine to cross-reference the created IntelliJ ticket here.

[2016-03-23 12:16] holgerstolzenberg commented on #38
You need to apply the plugins you want out of the local repo with `apply plugin: …` and their SNAPSHOT version. Also need to remove them from the `plugins {}` section as this plugins are always loaded from the portal with there release version.

[2016-03-23 12:17] corneil commented on #40
I have a project with Gradle and the plugin `com.ewerk.gradle.plugins.querydsl`
I didn't have to do anything special for it to work as expected. Java classes and test classes both use the querydsl generated artifacts and no classpath errors.

It may be worthwhile reloading the Gradle project in the new version of IntelliJ or enable auto-import on Gradle projects.

[2016-03-23 13:29] ieugen opened #41 "Run/Debug is broken with latest Idea 2016.1 and gradle 2.12 releases"
Hello,

I have gradle 2.12 and Idea 2016.1 and use querydsl plugin. After the update things don't work as expected.

The new gradle-idea integration create an idea module for every `sourceSet`. Since querydsl plugin creates a sourceSet  named `querydsl` we get a module with that name, however, the modules do not seem to share classpaths.
When I wish to debug my application I can't because It won't

[2016-03-23 13:40] holgerstolzenberg commented on #41
Duplicate of #40.

[2016-03-23 13:40] #41 closed

[2016-03-23 16:38] TheKojuEffect commented on #40
Hi @corneil, Would it be appropriate to share your querydsl gradle settings with Intellij 2016.1? Reloading gradle project and enabling auto-import isn't helping.

[2016-03-23 17:04] TheKojuEffect commented on #40
I think following IntelliJ Idea tickets are related to this issue.

https://youtrack.jetbrains.com/issue/IDEA-153541
https://youtrack.jetbrains.com/issue/IDEA-153485
https://youtrack.jetbrains.com/issue/IDEA-149753
https://youtrack.jetbrains.com/issue/IDEA-150042

[2016-03-23 21:26] corneil commented on #40
I have a test project that I updated to Gradle 2.12 and did a fresh import into IntelliJ 2016.1

[https://github.com/corneil/spring-data-demo](https://github.com/corneil/spring-data-demo)

In order to execute a unit test in IntelliJ:
* Find `org.springframework.data.querydsl.demo.test.AllTests` in sub project `spring-data-querydsl-demo`
* Create a run configuration and add one of the profiles like

[2016-03-24 05:51] The-Crocop commented on #40
Are you usng the QClasses in that project?
Thats the thing thats not working for me

[2016-03-24 06:28] corneil commented on #40
The `spring-data-querydsl-demo` subproject specifically demonstrates Q classes.

[2016-03-24 07:32] The-Crocop commented on #40
Ah ok thank you I will check it out later

[2016-03-24 09:17] holgerstolzenberg commented on #40
I´ll reopen the issue for the moment but I still think that this is not related to the plugins.

[2016-03-24 10:51] corneil commented on #40
@The-Crocop do you have a sample project that reproduces the problem?

[2016-03-24 13:18] TheKojuEffect commented on #40
Hey @corneil, Thanks but same problem with your demo project. There were errors in your service impl classes.

[2016-03-24 14:28] The-Crocop commented on #40
Hi I basically have a jhipster project where I tried to add querydsl

[2016-03-30 11:20] griffio commented on #40
I think IDEA-152581 is the latest update to this to track,
Option to have merged modules where the sourceSets are co-located in the original module.

https://youtrack.jetbrains.com/issue/IDEA-152581#tab=Comments
and https://youtrack.jetbrains.com/issue/IDEA-153231

[2016-03-30 18:46] steinsag commented on #38
Ok, I give up. I was able to run my locally compiled plugin, but can't get incremental build to work.

Please take a look at it as supporting incremental builds is one of the main core features of Gradle. Without this kind of support, **this plugin is pretty useless** as it will regenerate sources with each gradle run! This is a big waste of time. In my case, generating the sources and compiling t

[2016-04-01 05:39] TheKojuEffect commented on #40
https://youtrack.jetbrains.com/issue/IDEA-150685 was resolved but this is not yet fixed in 2016.1.1 update.

[2016-04-13 19:43] griffio commented on #16
Hopper was released last week - https://spring.io/blog/2016/04/07/spring-data-release-train-hopper-goes-ga-and-sr1. This issue can be finally closed off.

I created a [project]( https://github.com/griffio/spring_data_hopper_ewerk_querydsl_plugin) for testing a snapshot version of the plugin 1.0.6-SNAPSHOT locally.

I can certainly provide the pull-request to close this issue if you want to proceed

[2016-04-17 21:02] thekalinga commented on #16
Are there any additional changes in your local 1.0.6-SNAPSHOT that's different from the published 1.0.5?

[2016-04-18 07:33] griffio commented on #16
@thekalinga - no additional feature changes compared to current version 1.0.5.

For all users, the biggest breaking change is any of your projects using querydsl 3.x would have to upgrade to querydsl 4.x. Same if you are upgrading to Spring Hopper.

Maybe, the plugin should use semantic versioning, increment version up to 2.0, as **could** potentially break existing querydsl projects.

[2016-04-18 07:47] holgerstolzenberg commented on #31
I agree. I will update the plugins to JDK-8 by the end of the week I think.

[2016-04-18 07:48] holgerstolzenberg commented on #40
Any updates on this? I am not on 16 by now, can anyone please verify if the problem is still present?

[2016-04-18 07:50] holgerstolzenberg commented on #16
I´ll review the PR now...

[2016-04-18 08:32] holgerstolzenberg commented on #16
Done.

@griffio Thanks for the PR.

[2016-04-18 08:32] #16 closed

[2016-04-18 08:33] holgerstolzenberg opened #43 "Extract sample-application to separate project (do not interfere release any more)"
@griffio What do you think?

[2016-04-18 08:39] holgerstolzenberg commented on #38
Your suggestion is definetly an enhancement for the plugin to be implemented.

Still, claiming the plugin is pretty useless is a tough one, especially not providing a solution. For us it worked pretty well so far because we did not have very large schemas to process right now.

I will try to improve the plugin within this week.

[2016-04-18 08:43] griffio commented on #40
Looks like there is an update.

I downloaded the latest IDEA EAP Version (Build #IU-145.969, built on April 13, 2016).

There is now a new option under Gradle - builds -  **create separate module per source set.**

**Uncheck** this option and it will flatten the modules and seems to work as previous behaviour.

I tried it on my "spring data hopper" test project and works ok. Reloading the gradle b

[2016-04-18 12:15] griffio commented on #43
Yes, makes it easier.

Rather than just moving sample-application to a new repo, could suggest that any new "gradle_plugins_sample_applications" repo is just a top level folder that contains the current sample-application and will allow me to add some more sample projects e.g:

[code]

Not talking about adding git-submodules though, just sub-directories with build gradle file.

[2016-04-20 14:59] emersonf opened #44 "Recent Querydsl plugins not published to JCenter"
The [list of available versions](https://bintray.com/bintray/jcenter/querydsl-plugin/view) shows the latest version as 1.0.3.

[2016-04-20 15:09] holgerstolzenberg commented on #44
Gradleware recently changed there publishing mechanism. The plugins have no need to be on Bintray in order to be available through the plugin portal, which is becoming the preferred way.

Please get the latest version as described here:

https://plugins.gradle.org/plugin/com.ewerk.gradle.plugins.querydsl

[2016-04-20 15:09] #44 closed

[2016-04-20 15:19] emersonf commented on #44
Thanks for the quick answer.

FYI the [plugin README](https://github.com/ewerk/gradle-plugins/tree/master/plugins/querydsl-plugin) still contains JCenter information at version 1.0.6.

[2016-04-21 10:59] holgerstolzenberg commented on #44
Removed outdated documentation

[2016-04-21 11:01] holgerstolzenberg commented on #43
Sounds reasonable.

[2016-04-21 11:02] holgerstolzenberg commented on #43
@griffio Can you provide a PR so that I can focus on the JDK-8 upgrade.

[2016-04-22 14:43] #43 closed

[2016-04-22 14:44] holgerstolzenberg commented on #40
As @griffio explained, I think there is no need to keep this one open. Will close it.

[2016-04-23 10:40] griffio commented on #38
I had a look at this and we can lean on the existing update-to-date checking in xjc already - xjchttps://jaxb.java.net/2.2.4/docs/xjcTask.html.

So, a solution doesn't specifically require gradle's incremental input/output setup to be implemented.

You will see there is a recompilation check using produces/depends fileset based on the timestamp of the scheme file.

I have created a PR that impleme

[2016-04-25 07:37] holgerstolzenberg commented on #38
I have just released version `1.0.2` of the plugin.
https://plugins.gradle.org/plugin/com.ewerk.gradle.plugins.jaxb2

@steinsag Can you give it a try?

[2016-04-28 12:20] griffio commented on #38
@holgerstolzenberg can we close this now?
If so, I can provide the PR to fix it up as the change-log and read-me need to be updated with current released versions.

[2016-04-29 18:37] steinsag commented on #38
Sorry for not responding earlier. I can't give it a test right now. I won't have access to my test environment the next 10 days, but will check it for sure!

[2016-05-04 15:38] corneil commented on #40
@TheKojuEffect I didn't see your comment about the problems with service impl classes. Can you provide more info? Are you on the latest version?

[2016-05-04 16:32] vlastikcz opened #49 "Module groups cyclic dependencies with QueryDSL plugin and IntelliJ IDEA 2016"
Steps:
 1. Create project with a module like this:
   - modules/car/build.gradle
   - modules/car/src/main/java (entitites and services here)
   - modules/car/src/querydsl/java (generated classes here)
   - modules/car/src/test/java (tests here)
 2. Build the project and open it in IntelliJ IDEA 2016

Expected:
In IntelliJ IDEA 15 and older, there was a single module called `car` and it was possib

[2016-05-04 22:07] griffio commented on #49
Try this,
project.tasks.compileQuerydsl.options.compilerArgs << '-Aquerydsl.packageSuffix=Foo'

[2016-05-05 08:39] vlastikcz commented on #49
Thank you, it really worked. Maybe it could be added to the `readme.md`.

But as I found, the Spring Data requires the QueryDSL to be in the same packages as entities (no in the default anyway, because of the `SimpleEntitypathResolver.java`). So the suggested solution cannot be used.

And as I found today, the fix will be probably included in new IntelilJ release (https://youtrack.jetbrains.com/is

[2016-05-05 08:56] griffio commented on #49
Hi,

If you want to keep the Intellij 15 behaviour download the latest IDEA 2016 EAP Version.

There is now a new option under Gradle - builds - **create separate module per source set.**

**Uncheck** this option and it will flatten the modules into a single module.

Also, if it's possible that you can close the issue  - Thanks.

[2016-05-05 09:44] #49 closed

[2016-05-05 09:44] vlastikcz commented on #49
I've downgraded to InteliiJ IDEA 15 for now. Thank you.

[2016-05-30 08:39] #38 closed

[2016-06-30 13:47] griffio commented on #40
@holgerstolzenberg
Using - both IntelliJ IDEA (Community Edition) 2016.1 and latest 2016.2 EAP and **unchecked - create separate module per source set**

"gradle-plugins-samples" - integration java is shown as **java source** and not _test source_ as per internal plugin configuration.

So yes, confirmed, it's not behaving as per Intellij15.

There must be some incompatibility between Intellij and

[2016-07-08 00:42] griffio commented on #40
@holgerstolzenberg

Looks like nebula.integtest plugin just leans on the "idea" plugin dsl internally to setup test folders.

When using **unchecked - create separate module per source set** for importing a gradle project, add the snippet below to the "ewerk sample" project and it should flag the "integration" directory as test sources. Could be added internally to the plugin as a work-around.
[co

[2016-07-08 07:58] holgerstolzenberg commented on #40
Hey @griffio,

well I already thought about it but rejected it in the end. We would violate one of the biggest build system rule out there "Be IDE independent". I do not like to have Idea specific stuff in my build, the more we should not rely on that in the plugins. It would need to detect which IDE is used and so on...

It worked with IntelliJ 15 so it should be possible. I think we should file

[2016-07-12 04:37] renatoaraujoc opened #51 "querydslSourcesDir param does not work with passed value"
Hello,

After much investigation, at class com.ewerk.gradle.plugins.tasks.QuerydslCompile, on line 28, the value of _project.file(project.querydsl.querydslSourcesDir)_ does not reflect the new value passed by: _querydsl { querydslSourcesDir = 'some/new/dir' }_

I've tried my best to fix the issue myself by cloning your project, but since I'm new with Gradle, I couldn't succeed.

Looking forward fo

[2016-07-12 16:45] griffio commented on #51
@renatoaraujoc,

Thanks for taking the time and trying to work it out yourself - I will have a look and see if the new value is being passed to the javac annotation processor.

Are you using Android or Java project?

With gradle, this command would provide more logging details that can help.
[code]

[2016-07-13 00:14] renatoaraujoc commented on #51
@griffio,

It works as expected, thank you!

I'll fork the main plugin file to propose an addition to those who use the IdeaPlugin to automatically add a:
`project.idea {
    module {
        generatedSourceDirs += file
    }
}`

You can close this issue :)

[2016-07-13 00:48] griffio commented on #51
@renatoaraujoc,

Glad it works now - a new plugin version would be released with the fix.

As for IdeaPlugin, this is not used inside any of the ewerk plugins as Intellij's Gradle plugin, for example, should use the Gradle API to "mark" source, test folders from the build file.

The ```project.idea { module { generatedSourceDirs += file } }``` is only necessary when users start adding generated so

[2016-07-13 08:00] holgerstolzenberg commented on #51
Querydsl plugin version `1.0.7` released by now.

https://plugins.gradle.org/plugin/com.ewerk.gradle.plugins.querydsl

[2016-07-13 08:00] #51 closed

[2016-07-26 17:27] robmoore opened #54 "Problem referencing Kotlin classes in Java code when using querydsl plugin"
I'm trying to use the plugin in a Spring project with Kotlin sources. I'm getting a build error when I try to reference a Kotlin class from some Java code.

When I try to build, I see the following error:

[code]
I'm using the Kotlin Gradle plugin which causes the Kotlin code to be compiled before the querydsl step and creates a class file in the standard classes directory where Java classes are w

[2016-07-27 14:54] griffio commented on #54
Hi @robmoore,
Yes, as you show in the error message, the 'MongoAnnotationProcessor' task needs to add the kotlin-classes to its classpath as this is a separate JavaCompiler task.

As a work around you can try adding the 'war' plugin task that supports provided configuration , ,then manually add  "/kotlin-classes/main" that querydsl processor will use.

[code]
dependencies {
  compile "org.jetbrain

[2016-07-27 16:54] robmoore commented on #54
Thanks for the workaround and pull request. Do you consider this something that should be supported by the plugin?

[2016-07-27 17:08] robmoore commented on #54
I was digging a bit more and came across a slight tweak to your workaround using the Spring [propdeps-plugin plugin](https://github.com/spring-projects/gradle-plugins/tree/master/propdeps-plugin). Since I was already using that plug-in all I needed to do was add the following line to my dependencies section:
`provided files(project.buildDir.absolutePath + "/kotlin-classes/main")`.

[2016-07-27 17:58] griffio commented on #54
@robmoore,

I think supporting Kotlin directly is too specific, but I will look into this querydsl plugin to see if it can be improved to extend the classpath.

If you can lean on another plugin like PropDeps, that's great, looks like PropDepsPlugin creates a "provided" configuration that "compile" inherits from.

Also, as you may know, it's possible to create your entire project in Kotlin, I have

[2016-07-27 18:46] robmoore commented on #54
I totally agree that Kotlin-specific support seems a stretch. I was thinking there might be other cases where classes are generated by another process and so there would be a more general use case.

We're transitioning a product over to using Kotlin so that's why we need the mixed support for now. I'm betting that's a more common case than it might be for something like Scala if that's any motivat

[2016-07-27 18:46] #54 closed

[2016-07-30 03:28] TheKojuEffect opened #55 "Can this plugin be modified to support scala classes?"
Would it be possible for this plugin to support processing Entity classes in scala and generating scala meta models?

[2016-08-02 07:29] griffio commented on #55
Hey there @TheKojuEffect, based on my understanding, maybe you are talking about using [querydsl scala support](http://www.querydsl.com/static/querydsl/4.1.0/reference/html_single/#scala)?

We would have to add dual support for https://docs.gradle.org/current/userguide/scala_plugin.html.

Although, I think it's outside the scope for the plugins maintained here as they specifically focus on Gradle

[2016-08-02 08:58] TheKojuEffect commented on #55
Hey @griffio, thank you for your reply. Yes, I was talking about querydsl scala support. I was looking if we can extend or use this plugin to generate querydsl meta model classes in scala from entity classes written in scala?

Thanks!

[2016-08-04 20:21] griffio commented on #55
Hi @TheKojuEffect,

Looking into it - http://www.querydsl.com/static/querydsl/4.1.3/reference/html_single/#scala, since there is no concept of an automatic compiler processor, the Scala code generation is performed by setting up the ScalaMetaDataSerializer for SQL backends or with JPA and other backends by creating the query classes manually or with the $alias for collections.

An example setup fo

[2016-08-05 04:59] TheKojuEffect commented on #55
Hey @griffio Thank You, I will go ahead and close this issue.

[2016-08-05 04:59] #55 closed

[2016-09-14 08:39] addmeaning opened #59 "querydsl + lombok problem"
hello, I stuck with a folowing problem:
when class annotated with lombok annotation
`@RequiredArgsConstructor(onConstructor = @__(@Inject))`

compilation error occurs:
[code]

similar problem resolved for maven-apt-plugin
https://github.com/querydsl/apt-maven-plugin/issues/47

In resolution adding classifier "apt" to querydsl-jpa were suggested, however, it doesn't seem to work for me.

my configu

[2016-09-14 09:42] griffio commented on #59
Hey @addmeaning,

You can try adding to the list of processors as it is exposed through thge list "project.querydsl.processors()"

In your build script you can append the proc that are run:-

```project.querydsl.processors() << 'lombok.launch.AnnotationProcessorHider$AnnotationProcessor'```

I haven't tested it myself,  but try it first anyway and let us know!

Regards, @griffio

[2016-09-14 11:27] addmeaning commented on #59
unfortunately, it doesn't seem to work.

[2016-09-14 15:14] griffio commented on #59
@addmeaning,

Here's a quick test that I tried in a build file, worked for me!

1. Used the plugin "io.franzbecker.gradle-lombok" to add the lombok dependencies correctly into gradle.

2. Setup the processors list to include the "AnnotationProcessorHider"

[code]

Regards,

@griffio.

[2016-09-15 10:40] addmeaning commented on #59
This works perfectly, thanks for your help!

[2016-09-15 10:40] #59 closed

[2016-09-15 11:27] TheKojuEffect opened #60 "Querydsl plugin 1.0.8 is not available in gradle plugins"
`1.0.7` is the latest version in gradle plugins site but `1.0.8` is listed in documentation page.

https://plugins.gradle.org/plugin/com.ewerk.gradle.plugins.querydsl

[2016-09-15 11:45] holgerstolzenberg commented on #60
That is correct as the plugin version `1.0.8` has not been released so far. I have updated the invalid `changelog.md` and appendend the SNAPSHOT information.

[2016-09-15 16:09] TheKojuEffect commented on #60
Hey @holgerstolzenberg, Thanks for the quick response :)

[2016-10-14 04:54] thekalinga commented on #40
Hi,

Is there any update on this?

[2016-10-18 23:45] jchen9shc commented on #40
I run into the same issue, can't use these Q classes in test, any solution here?

[2016-10-19 07:39] griffio commented on #40
Hi @jchen9shc,

Not a the moment - current work arounds are listed above:-

 a. unchecked - create separate module per source set
 b. Add some gradle script to your project to configure test classpath

You can check https://youtrack.jetbrains.com/issue/IDEA-151925 for info.

Regards,

@griffio

[2016-10-19 08:03] holgerstolzenberg commented on #40
Workaround [a] (separate module sets) definitively is working.

[2016-10-26 11:20] joakimgottzen commented on #40
One way to handle this is by allowing the configuration to override the source set name, i.e. being able to set it to 'main'. I completely agree that the plugin should be IDE-agnostic, but allowing customization to accommodate specific IDEs would not be an issue I hope.

Meanwhile, the following should solve it without disabling the default IntelliJ setting:
[code]

[2016-11-07 22:06] jchen9shc commented on #40
@joakimgottzen , thank you very much. I like this way and don't want to mess with IntelliJ setting.

[2016-11-23 17:35] weisebrazil opened #62 "annotation processor compile with additional arguments"
Some annotations processors have the @SupportOptions annotation. But the plugin haven't the configuration to do it.

* -Akey[=value] : Used to pass options to the processors. Only those options registered with the SupportedOptions annotation are passed to a processor.

[2016-11-24 09:09] holgerstolzenberg commented on #62
Merged your pull request and release plugin version 1.0.3 right now.

https://plugins.gradle.org/plugin/com.ewerk.gradle.plugins.annotation-processor

[2016-11-24 09:09] holgerstolzenberg commented on #62
@weisebrazil Thanks for your contribution!

[2016-11-24 09:09] #62 closed

[2016-12-01 17:57] WellingtonCosta opened #64 "Classpath"
Hi,

How to add the generated sources to Java classpath? Because I can't import any generated source into my Java code.

PS: I'm using Eclipse.

[2016-12-01 19:20] WellingtonCosta commented on #64
I solved it just running the command ``gradle cleanEclipse build eclipse`` on project root folder.

[2016-12-01 19:20] #64 closed

[2016-12-06 13:18] shenliuyang opened #65 "leftShift(Closure)method has been deprecated and is scheduled to be removed in Gradle 5.0"
gradle version 3.2

[2016-12-06 21:05] griffio commented on #65
Thanks for pointing out that recent deprecation.

Referenced by https://github.com/gradle/gradle/issues/715

Looks like the recommended replacement is to use the ```doFirst``` and ```doLast``` methods.

@shenliuyang You are welcome to post a pull request if you want to make the change yourself

[2016-12-10 20:57] griffio commented on #65
With gradle 3.2.1 or higher
```./gradlew wrapper --gradle-version=3.2.1```
```./gradlew --stacktrace```

The Task.leftShift(Closure) method has been deprecated and is scheduled to be removed in ```
[code]

[2017-01-10 12:29] holgerstolzenberg opened #66 "Dagger plugin compatibility with Gradle 3.3"
I tried to update all the plugins to be compatible with Gradle 3.3. I wasn´t able to manage that for the dagger plugin due to some Android SDK plugin incompatibilities.

[2017-01-10 12:32] holgerstolzenberg commented on #65
Fixed with 5a5835c881b452462de27a5a2829c293c4b402b5. Not released yet.

[2017-01-10 12:33] holgerstolzenberg commented on #66
The issue can be found running the unit tests from the current MASTER since commit 5a5835c881b452462de27a5a2829c293c4b402b5.

@griffio As I am not firm to the Android build ecosystem, could you please have a look? If all plugins can be updated, I will release them and also the JDK-8 issue (#31) can be resolved then.

[2017-01-10 13:18] griffio commented on #66
Hey @holgerstolzenberg,
Sure, I will give it a look - will try for end of week...but will update otherwise
regards, griffio

[2017-01-10 14:34] holgerstolzenberg commented on #66
Okay, cool.

Some more details

[code]

I am sure it is related to the updated dependencies and the android configuration block in the test.

[code]

[code]

[code]

[2017-01-11 10:11] shenliuyang commented on #65
thanks

[2017-01-11 10:11] #65 closed

[2017-01-11 22:09] griffio commented on #66
Have looked into and met same conclusion - both the Gradle and Android plugin versions have move d on from what "android-jdk-plugin" supports and that is deprecated now.

I will have to look into another way of testing with the android environment with more official support.

[2017-01-13 08:48] #66 closed

[2017-02-04 10:59] rafik777 commented on #60
@holgerstolzenberg When can we expect the publication of 1.0.8 version?
How can we use the current 1.0.8-SNAPSHOT in our build.gradle?
Is there 1.0.8-SNAPSHOT in any public maven repository?

[2017-02-06 09:36] holgerstolzenberg commented on #31
The `querydsl-plugin` default JDK is now 1.8

[2017-02-06 09:38] holgerstolzenberg commented on #60
I´ve released and published the plugin by now. Please see `https://plugins.gradle.org/search?term=querydsl`.

@rafik777 The use the `SNAPSHOT` version, you will have to check out the sources and build the plugin on your own which should be really straightforward.

[2017-02-06 09:38] #60 closed

[2017-02-06 12:23] rafik777 commented on #60
@holgerstolzenberg After upgrade I have:
Cannot change dependencies of configuration ':compile' after it has been included in dependency resolution.

Used versions:
id "com.ewerk.gradle.plugins.querydsl" version "1.0.8"
compile "com.querydsl:querydsl-jpa:4.1.3"
gradle: 3.3

[2017-02-27 11:03] Ramblurr opened #68 "compileQuerydsl running every build, even when not needed"
In my setup `compileQuerydsl` is being run on every `gradle build` or `gradle bootRun` (using spring boot in my case), even though there was no `clean` done and nothing has changed with the Q classes or the entities.

`compileQuerydsl` adds 33 seconds to my boot time, and I'd love to cut that down.

Is there a way to only have `compileQuerydsl` run

1. only when the Q classes don't exist or
2. or

[2017-02-28 08:58] griffio commented on #68
hey @Ramblurr, what is the directory for the generated sources you are using in your build? I will see if I can replicate this behaviour - may take me a couple of days to get back to you though.

[2017-03-01 12:05] Ramblurr commented on #68
Thanks @griffio !

This is my generated sources dir:

[code]

This is the entirety of my config related to query dsl:

[code]

[2017-03-01 21:19] griffio commented on #68
Hey @Ramblurr , is it possible that the Lombok processor is 'touching' source files and making the 'Q' files regenerate? I tried one of my Spring projects and 'build' will only compile if source has changed. You can run ./gradlew --debug build and see if gradle is detecting changes to files.

[2017-03-01 22:03] ben-manes opened #69 "AutoValue autoValueTestSourcesDir support"
When using `@AutoValue` in a test class the generated `.java` code appears in `build/classes/test/`. This is not in the sourceSet of course, so the IDE doesn't include it.

Am I misunderstanding how to use this plugin to codegen for tests or is it not supported?

[2017-03-02 09:32] holgerstolzenberg commented on #69
This is a use case we never looked at. I always used the `@AutoValue` classes within `main` production code. Am I understanding you right that you have inner classes in your tests that you annotate with `@AutoValue`. Can you please provide more info on how your project is set up.

[2017-03-02 09:46] ben-manes commented on #69
Yes. I normally use it in my `main` classes, but today was writing a fake object for a unit test. I immediately reached for autovalue to create a builder and realized it wasn't available. It was trivial to write it by hand, but it would be nice to reduce test noise by having the tool available there too.

[2017-03-02 09:57] holgerstolzenberg commented on #69
Well it should be no problem to configure Gradle or your IDE to pickup `build/classes/test` as a source set.

[2017-03-02 10:00] ben-manes commented on #69
That's ugly since there's compiled classes there. I'd probably use a copy task to move the sources into a separate directory.

[2017-03-02 10:03] holgerstolzenberg commented on #69
I´ll take a deeper look into that next week. Would be great if you document your findings here.

[2017-03-03 13:20] pioterj opened #70 "Make Querydsl plugin work with Gradle Java Library plugin"
Querydsl plugin does not work with the new Gradle [Java Library Plugin](https://docs.gradle.org/current/userguide/java_library_plugin.html). See also the [blog post](https://blog.gradle.org/incremental-compiler-avoidance) about it.

In the specific case of using Querydsl on top of Hibernate, `compileQuerydsl` fails when Hibernate dependencies are declared using new `api` or `implementation` scope.

[2017-03-03 13:53] oehme commented on #70
Or in case you need a `Configuration` object, use `compileClasspath`, not `compile`.

[2017-03-05 20:50] griffio commented on #70
Thanks all! Will look into blog post section, Incremental compile with annotation processors, looks relevant.

[2017-03-07 02:07] btpka3 opened #71 "Can add groovy language support?"
I prefer groovy as develop language than java, but the querydsl-plugin not support groovy compile. Can add support for groovy?

[2017-03-07 02:08] ben-manes commented on #69
This was easier than I thought and mirrors the `compileJava` setup you use. It would be nice to generalize your usage to work against all sourceSets, which would make it work with new features such as the `java-library` api/impl separation or customizations.

Below is the script I've added to the project, `autoValue.gradle`. Note that I had to disable `compileAutoValueJava` recently which broke th

[2017-03-07 16:33] btpka3 commented on #71
Tried, and give up. Groovy object has extra "metaClass" property,  and found no way to ignored by querydsl-apt.

The following grade config will stop when processing "metaClass":

[code]

[2017-03-08 08:32] btpka3 commented on #71
"metaClass" related error maybe should be resolved by querydsl. Post an issue:

* querydsl issues [2116](https://github.com/querydsl/querydsl/issues/2116)
* spring-data-mongo issues [1640](https://jira.spring.io/browse/DATAMONGO-1640)

[2017-03-22 10:10] holgerstolzenberg commented on #68
@Ramblurr Any news on this one? Otherwise I am going to close this issue soon as it seems to be a false positive.

[2017-03-22 12:21] Ramblurr commented on #68
It is still double building, but I doubt it is a bug in this plugin. I need to investigate @griffio 's suggestion.

[2017-03-22 12:21] #68 closed

[2017-03-22 18:47] robmoore commented on #54
I was looking at this a bit more and it seems like the issue is that the classpath isn't including some classes created in another step in the build. I've tried modifying the classpath in javaCompile but it doesn't seem to have any effect on the classpath used by the plugin.

Looking at the source of [QuerydslCompile](https://github.com/ewerk/gradle-plugins/blob/master/querydsl-plugin/src/main/gro

[2017-03-22 19:25] griffio commented on #54
@robmoore - feel free to open a new issue, to add it to the top of the stack.

However, are the classes runtime or just compile time classes?

You could extend the querydsl from compileClasspath and add compileOnly deps

configurations {
    querydsl.extendsFrom compileClasspath
}

Use  compileOnly dependencies

[2017-03-22 19:44] robmoore commented on #54
Thanks. In answer to your question the classes are needed at runtime as well.

[2017-03-24 20:01] robmoore opened #72 "querydsl-plugin: Default sources directory created even when querydslSourcesDir is set"
I've set the value to be in another directory but the src/querydsl directory is created nevertheless.

[2017-03-27 09:17] griffio commented on #72
Hi, @robmoore
Yes, I take it you are seeing this in Intellij - see http://mrhaki.blogspot.co.uk/2016/03/gradle-goodness-source-sets-as-intellij.html.  The plugin always creates a sourceset called querydsl and Intellij will create a module even if you use a different output directory for your generated sources.

Gradle build itself doesn't create a sourceset folder just using ./gradlew

I was inter

[2017-03-28 01:32] robmoore commented on #72
Indeed, it is when using Intellij. My apologies for not recognizing it as a IDE-specific issue. We do place the files under the build dir. I've noticed other tools generate file in that dir as well.

[2017-04-07 08:49] #40 closed

[2017-04-07 08:54] holgerstolzenberg commented on #72
Just to share my thoughts on that:

I think it is mostly a good idea to places generated sources under the `src` directory of your project, as they are 'sources'. The only difference is that I do not check in generated sources to the repository, as they recreated by the build. That works pretty well so far. I do not see a general reason why to put generated sources to the build dir. Its something

[2017-04-07 08:54] #72 closed

[2017-04-07 11:22] holgerstolzenberg commented on #31
The `annotation-processor-plugin` default JDK is now 1.8.

[2017-04-07 11:28] holgerstolzenberg commented on #31
The `auto-value-plugin` default JDK is now 1.8.

[2017-04-11 08:31] holgerstolzenberg commented on #31
The `auto-value-plugin` default JDK is now 1.8

[2017-04-11 08:34] holgerstolzenberg commented on #31
The `integration-test-plugin` default JDK is now 1.8

[2017-04-11 08:38] holgerstolzenberg commented on #31
The `jaxb-test-plugin` default JDK is now 1.8

[2017-04-11 08:43] holgerstolzenberg commented on #31
The `querydsl-plugin` default JDK is now 1.8

[2017-04-11 09:00] holgerstolzenberg commented on #31
Updated sample application.

[2017-04-11 09:07] holgerstolzenberg commented on #70
@griffio Any news on this one?

[2017-04-12 11:54] griffio commented on #70
I think what is being advocated here, above, is new gradle plugin layouts and conventions in the latest versions.

This means that "legacy" plugins can be updated to follow new best practices.

Certainly a roadmap for where to go next.

[2017-04-12 13:32] oehme commented on #70
There is no "new" convention here, hardcoding a reference to `Configurations.compile` was never good. Instead, use `SourceSet#getCompileClasspath`. With that simple change, your plugin will be transparently compatible with old Gradle versions as well as the new features added by the java-library plugin.

[2017-04-12 17:59] tadaskay opened #73 "Querydsl plugin doesn't work with compileGroovy"
In a mixed Java-groovy project, I am joint compiling with groovy using the following configuration:

[code]

This plugin simply [adds generated sources](https://github.com/ewerk/gradle-plugins/blob/master/querydsl-plugin/src/main/groovy/com/ewerk/gradle/plugins/QuerydslPlugin.groovy#L81) to `compileJava` source without any checks:

[code]

As you can already spot, the compilation fails, because ja

[2017-04-19 19:11] koala421 opened #74 "Is there support for binding files?"
Hello,

Is there a way you can add binding files to the gradle compilation. For example:

``jaxb2{ xjc{ 'genertor' {gerenatedSourcesDir ="location" basePackage = "com.nav.github" schema = "adsfk.xsd" **Binding=binding.xjb**}}``

[2017-04-20 08:53] holgerstolzenberg commented on #73
Hm. It seems like supporting Groovy is a general wish out there, as we have similar issues open for other plugins. The original intention was to provide plugins that support our Java development team. We are not using Groovy by now.
So here we are at some kind of split point. I am not quite sure if we should support Groovy. I can see the next requests coming up because we need to support Scala or

[2017-04-20 10:16] holgerstolzenberg commented on #74
At the moment the plugin does not support that. As the plugin essentially is a wrapper around Ant XJC task, the task itself needs to support that.

After having a quick look at https://jaxb.java.net/nonav/2.0.2/docs/xjcTask.html, it seems to be possible.

I will try to implemented the feature by this week.

[2017-04-20 10:20] holgerstolzenberg commented on #70
At the moment it is quite hard to keep up with all the changes/best practices evolving in the Gradle universe without having proper time to keep yourself educated. Even then, finding best practice solutions derived from the documentation is still quite hard.

@oehme It would be great if you could provide a PR that showcases all the actual best practices with this plugin.

We could then take this b

[2017-04-20 10:55] griffio commented on #70
@holgerstolzenberg
https://github.com/ewerk/gradle-plugins/blob/master/querydsl-plugin/src/main/groovy/com/ewerk/gradle/plugins/tasks/QuerydslCompile.groovy#L26

[2017-04-20 11:13] oehme commented on #70
For a well-written plugin in the same domain you could have a look at the [jooq-gradle-plugin](https://github.com/etiennestuder/gradle-jooq-plugin). I don't think I'll have time to do a rewrite of the QueryDsl plugin anytime soon. I'll be happy to answer questions though.

[2017-04-20 11:20] holgerstolzenberg commented on #74
@koala421 I have introduced 'bindings' directory param and pushed it to MASTER. Before I officially release the plugin, could you please give it a try on your project with a locally build `SNAPSHOT` of the plugin.

[2017-04-20 12:22] pioterj commented on #70
@holgerstolzenberg For good practices around Gradle plugin development you may also want to check out our new guides on the topic:

- [Designing Gradle plugins](https://guides.gradle.org/designing-gradle-plugins/)
- [Implementing Gradle plugins](https://guides.gradle.org/implementing-gradle-plugins/)

There's more to come.

[2017-04-20 12:46] tadaskay commented on #73
Fair enough.

Most of the plugins we're using work with Java/Groovy transparently (after all, the mixed code is compiled to the very same classes and put into JARs just like Java), and Gradle API works equally well with most of JVM languages.

What about detecting compile tasks or attaching to all of them? Querydsl configuration is very similar if not identical to Java's (except for `GroovyCompile

[2017-04-20 13:19] koala421 commented on #74
I have tried to test this plugin and the bindings param is functioning but I was looking for a way to do single binding files so that I may specify which binding file to use for each of my xsd files

[2017-04-20 13:45] holgerstolzenberg commented on #74
Okay I see. You could still achieve this by organizing your source files accordingly, e.g.:

[code]

Is that an option for you? But in the end I agree, maybe specifying the concrete bindings files is definitely an option, but is still a bit restricted to the XJC specific task call. Please see following code snippet for explanation:

[code]

[2017-04-20 13:55] koala421 commented on #74
In the binding area it would be nice to have `binding(dir: project.file(bindings), includes: 'project.file(binding1), project.files(binding2)...')` kind of like [This](http://stackoverflow.com/questions/43054081/multiple-binding-files-in-gradle-xjc-task) or [this implementation](https://github.com/IntershopCommunicationsAG/jaxb-gradle-plugin)

[2017-04-20 14:05] holgerstolzenberg commented on #73
Sounds good. PRs always appreciated. Would like to welcome more contributors to the family 😎

[2017-04-20 14:08] holgerstolzenberg commented on #73
@tadaskay You should also have a look at #71.

[2017-04-21 10:00] holgerstolzenberg commented on #74
@koala421 Can you please give it another try. I´ve added support for explicit binding file includes.

[2017-04-21 13:47] koala421 commented on #74
@holgerstolzenberg Awesome!...It works

[2017-04-21 15:18] koala421 commented on #74
Is this going to be an official gradle plugin soon with the updates?

[2017-04-24 12:49] holgerstolzenberg commented on #74
Plugin version `1.0.4` release and available. Please see:
https://plugins.gradle.org/plugin/com.ewerk.gradle.plugins.jaxb2

[2017-04-24 12:49] #74 closed

[2017-04-28 10:32] banduric opened #75 "Support for encoding parameter"
Could you please add support for encoding parameter for xjc?
Appraciate it.
Thanks.

Igor

[2017-06-02 06:01] tabiul opened #76 "Setting gradle sourceSet to generated folder gives the error "The configured generatedSourcesDir must specify a separate location to existing source code""
I am trying to configure my gradle so that the generated files are available in the sourceSet so that they are picked up by IntelliJ.
[code]

Doing this it throws the error "The configured generatedSourcesDir must specify a separate location to existing source code". I can see in the code there is an explicit check for this. I do not get why this check is there. I am also using another plugin http

[2017-06-05 14:30] griffio commented on #76
@tabiul

[2017-06-06 18:07] maxTanquerel opened #77 "Change default generated setter method name in builder for AutoValue plugin"
Hi,
I'd like to be able to change the generated name for set methods in the builder. I am not a groovy dev so I don't understand what I should update to make that change. Can someone help me so that change ?

I'd like set method looks like :
public abstract Builder setUrl(String url);

Thank you for your help

[2017-06-07 01:10] tabiul commented on #76
Similar to what the protobuf plugin is doing, generating to build folder. Deleting the sub-directory under build I think should be safe. Furthermore, normally the path specified would be a subdirectory under src so in that sense it is not like the whole directory will be deleted. I can see from where this check is coming from but I think maybe it is not really needed or like you said be bit more s

[2017-06-08 17:43] griffio commented on #77
@maxTanquerel, Builders are customised in your own code as you know what convention to use.
I don't know if you found this howto -
https://github.com/google/auto/blob/master/value/userguide/builders-howto.md#beans

[2017-06-12 09:22] holgerstolzenberg commented on #76
"The plugins are designed to work from a non build src location" thats the key point here. I am not quite sure if it is senseful to change anything.

@tabiul I´d like to know what your intentions are putting the sources under the `build` directory. The time I started working with code generation, I also though that this would be a good idea. Working with it a bit more I realized that putting them

[2017-06-12 09:22] holgerstolzenberg commented on #75
I´ll try to implement that by this week.

[2017-06-12 09:25] holgerstolzenberg commented on #73
@tadaskay Any news on this one?

[2017-06-12 13:07] maxTanquerel commented on #77
I understand that I have the choice, and I choose to have the set prefix. But when I am using your plugin it without the prefix, how can I add this prefix at the generation ?

[2017-06-12 13:17] holgerstolzenberg commented on #77
As I understand the HOWTO you do not need to change anything with the plugin. Just name your setters using the `set` prefix. Auto-Value is capable of handling this as the method signatures for setters do have a parameter. You only have to make sure that **all** setters in your `@AutoValue` Builder class use that prefix.

[2017-06-12 13:28] maxTanquerel commented on #77
If I understand well the goal of the plugin is to generate builder, create etc... I was probably not clear but in the builder, this is how I am using the plugin :

I write that :
`@AutoValue
public abstract class Foo {
    public abstract String foo();
}`

the plugin will generate that :
`@AutoValue
public abstract class Foo {
    public abstract String foo();

    public static Builder builder()

[2017-06-13 05:35] tabiul commented on #76
@holgerstolzenberg yes, you are right. It should be `build/generated/main/java` instead of `build`. Actually the one reason for me for asking this one making it easier to work with IntelliJ. I need somehow to tell IntelliJ via Gradle that the source code is there so that it can be used for compilation and code completion. If there is way to do that then there is no need of this change. Maybe I am

[2017-06-13 07:01] holgerstolzenberg commented on #76
For me the most useful way is to generate the sources to somewhere under `src/(main)/jaxb2` or in your case more domain specific like `src/main/export-request`. Then you have all your sources where they should be and IntelliJ will also pick them up. You just need to exclude them from repository check-in via Git/SVN/… ignores.

[2017-06-14 02:18] tabiul commented on #76
Thanks @holgerstolzenberg . I will look at the sample.

[2017-06-14 02:18] #76 closed

[2017-06-22 11:25] holgerstolzenberg commented on #77
Well we already understood what you want to do :-)

At first you need to realise that this plugin is just a wrapper around AutoValue, it triggers it but has nothing to do with how AutoValue actually generates the code.

I have put together a small sample project show casing what you want to achieve:
https://github.com/holgerstolzenberg/autovalue-demo

Hope that finally helps.

[2017-06-22 11:25] #77 closed

[2017-07-03 08:55] holgerstolzenberg commented on #75
Feature released as of plugin version 1.0.5. Available at the portal by now.

[2017-07-03 08:55] #75 closed

[2017-07-05 19:11] templarfelix opened #78 "Querydsl need Annotation processor configs?"
I Have this erros on compile project.

error: Annotation processor '' not found
warning: Annotation processing without compilation requested but no processors were found.
1 error

[2017-07-14 06:55] tabiul opened #79 ""Ignoring Class-Path entry" warning message when running bootRun"
I have some weird warning message when running the `./gradlew:bootRun`. My project structure is as below

main project

    * sub-project 1 (This uses the jaxb plugin and the generated jar is published)
    * sub-project 2 (This consumes the generated jar file, there is no project dependencies on sub-project 1)

The `build.gradle` file in sub-project 1 has no dependencies only xsd configuration. T

[2017-07-17 13:56] griffio commented on #79
@tabiul Looks like this message was added to Spring Boot dev-tools recently to fix another issue, see https://github.com/spring-projects/spring-boot/blob/master/spring-boot-devtools/src/main/java/org/springframework/boot/devtools/restart/ChangeableUrls.java#L150

It appears to scan through the Classpath jars Manifests and checks if any Class-Path entries have a resolvable jar file classpath, if no

[2017-07-21 01:43] tabiul commented on #79
Thanks @griffio for helping to find the root cause. This is not critical.  If you do not have time to look into it then please go ahead and close the ticket.

[2017-07-21 14:06] griffio commented on #79
@tabiul It could be that the jar file that you are publishing has these "Class-Path " entries in - that Spring Boot is scanning - Perhaps check if you can remove them, if these classpath dependencies don't need to be declared.

[2017-07-26 00:13] tabiul commented on #79
Thanks @griffio , I will look into it.

[2017-07-26 00:13] #79 closed

[2017-07-26 15:48] bastman opened #80 "QueryDsl compile kotlin"
Hi, I'm just wondering if you could provide an example for this kind of setup:

- kotlin
- gradle
- spring-boot 1.5.*, jpa, hibernate

Thanks a lot for your help.

/Seb

[2017-07-26 18:23] ben-manes commented on #31
The changelog for the autoValue plugin claims 1.0.8 has been released, but the [plugin portal](https://plugins.gradle.org/plugin/com.ewerk.gradle.plugins.auto-value) only has 1.0.7. Not a big deal, but seems that you forgot to release that version.

[2017-07-27 07:16] griffio commented on #80
@bastman great you are a fan of Kotlin!

Typically for Kotlin, we have to use kapt directly -> see here for https://github.com/griffio/dagger2-kotlin/blob/master/build.gradle example.

The plugins developed in this gradle-plugins project are based around the javac annotation processor so are not Kotlin applicable.

[2017-07-27 14:27] rafik777 opened #81 "Querydsl gradle 3.3+"
I have a problem with gradle 3.3+
Cannot change dependencies of configuration ':compile' after it has been included in dependency resolution.

Used versions:
id "com.ewerk.gradle.plugins.querydsl" version "1.0.9"
gradle: 3.3 or 4.0.2

compile 'com.querydsl:querydsl-jpa:4.1.3'
querydsl {
    jpa = true
}

Log with stacktrace:
[code]

[2017-07-27 16:21] laurentleseigneur opened #82 "Is this plugin working with integration tests written in groovy?"
my integration test under` src/integration/groovy/<mypackage>/<MyTest.groovy>` is not ran while calling `integrationTest` task

[2017-07-28 07:45] holgerstolzenberg commented on #31
I really forgot that. Fixed as of f68d1c3aaec4884af0665cb38b918cb286482415.

[2017-07-28 07:45] #31 closed

[2017-07-28 07:47] holgerstolzenberg commented on #82
The plugins are designed around the Java language. It might work but will not be as straight forward and will definitely need some customized build stuff.

[2017-07-31 08:29] holgerstolzenberg commented on #81
Can you please provide your full build script for further investigation?

[2017-10-09 01:09] tabiul opened #83 "QueryDsl for a java and groovy project"
I have a project that has mix of both Java and Groovy. As I understand the plugin does not support Groovy domain model file as such I moved all domain model to  Java. In order to make the compilation work I followed this https://stackoverflow.com/questions/22159699/gradle-groovy-and-java-class-dependency-compile. The task `compileGroovy` works fine as the Java entity model references some class in

[2017-10-16 09:28] #82 closed

[2017-10-16 09:30] holgerstolzenberg commented on #81
Without having the full build available for reconstruction, I am going to close this issue in the next days.

[2017-10-16 09:31] #80 closed

[2017-10-16 09:35] holgerstolzenberg commented on #78
We need more sophisticated/detailed information what your problem is. Please provide information about your runtime, libraries, what you expect etc. Your full build script would be very helpful also.

[2017-11-14 12:45] persapiens opened #84 "compileQuerydslJava task fails with pmd"
Hi,

compileQuerydslJava task breaks when I include pmd plugin. My gradle.build is:

[code]

The log error indicates that querydsl-core classes is not visible anymore:

[code]

If I remove pmd, it works!

[2017-11-16 11:01] andilem opened #85 "Missing automatic Gradle dependency"
The dependency
`'org.jvnet.jaxb2_commons:jaxb2-basics-tools:' + JAXB2_VERSION` is missing in Jaxb2Plugin.groovy line 85-87.
This artifact contains the class AbstractParameterizablePlugin which cannot be found at the moment.
This artifact needs the dependency commons-logging:commons-logging:1.2 which also must be included.

So at the moment, for me it's necessary to add the two
[code]

[2017-11-16 14:07] #81 closed

[2017-11-16 14:07] #78 closed

[2017-11-16 14:09] holgerstolzenberg commented on #84
Well then its seems to be more of a PMD plugins problem, but I´ll try to look up.

[2017-11-16 14:17] holgerstolzenberg commented on #85
I am struggling with a definite solution here. Sure I can add these lines without a problem, but:

- This issue occurred for the first time having the plugin out there for a while, it seems your jaxb2 usage does something specific not bugging others
- Making the plugin manage the `jaxb2-basics-tools` dependency means also adding `commons-logging`

It might not be the best choice to make the plugin

[2017-11-16 23:06] andilem commented on #85
I don't think I am doing something specific, I'm just creating Java classes from an XSD in the most simple way, no special options. I'm wondering that noone else has this problem.
The stacktrace is
[code]
but I'm unfortunately not familiar with the jaxb2_commons stuff.
If you cannot reproduce this issue (I can) and don't want to include the dependency, perhaps it's worth mentioning this problem (a

[2017-11-17 10:08] holgerstolzenberg commented on #85
I have added the dependencies to the plugin and released it.

https://plugins.gradle.org/plugin/com.ewerk.gradle.plugins.jaxb2

[2017-11-17 10:08] #85 closed

[2017-11-17 10:48] holgerstolzenberg commented on #84
This is not a bug of the querydsl plugin. You need to properly configure the source sets of the PMD plugin. The following scripts works for me:

[code]

Some advices:
* use up-to-date plugin ids
* make sure your dependencies are working, especially using spring-boot dependency management
* make sure used plugins are configured properly

[2017-11-17 10:48] #84 closed

[2017-11-17 10:52] holgerstolzenberg opened #86 "Failing master build due to Travis Android config"
Master build is broken. It looks like Android config is not up to date.

Please see:
https://docs.travis-ci.com/user/languages/android/

[2017-11-17 10:52] holgerstolzenberg commented on #86
@griffio Could you have a look at that?

[2017-11-17 11:06] persapiens commented on #84
Thank you very much @holgerstolzenberg

I use your answer to **findbugs** too.

Your advices are fantastic.

Cheers.

[2017-11-17 11:31] griffio commented on #86
Hi - yes
Should be able to look at today or evening.
Hopefully - it's simple as

[2017-11-17 12:40] holgerstolzenberg commented on #86
I´ve really overlooked that one. I tried to fix it according to Travis docs but keep struggling with the license acceptance. I do not have the time to dig deeper into it. The following help might provide some useful information about that.

https://developer.android.com/studio/intro/update.html#download-with-gradle

[2017-11-17 20:45] griffio commented on #86
Yep - looks like the versions defined in travis have to match the ones defined in gradle
Having done so - there is now another runtime error to do with missing method.
-- java.lang.NoSuchMethodError: com.android.build.gradle.tasks.factory.AndroidJavaCompile.setDependencyCacheDir

Closer...I will see if I can match that version up

gradle build
[code]

[2017-11-27 15:00] #86 closed

[2017-11-29 21:28] rbalazsi opened #89 "Jaxb2 plugin to support extension mode"
I configured my bindings so the generated sources would implement Serializable, i.e.:
[code]

However, I'm now getting the following error:

I see no way to turn off strict mode, please advise.

[2017-11-30 08:50] holgerstolzenberg commented on #89
I have added an `extension` config option and updated the docs. The code is already on master. The reference docs I used were: https://javaee.github.io/jaxb-v2/doc/user-guide/ch04.html

I have not time to try this out or write some distinctive tests for that. Could you please try the current snapshot locally. If all works fine, I´ll release the plugin to the portal.

[2017-12-12 13:14] persapiens opened #91 "Is it possible to create Q-classes from classpath using querydsl-plugin?"
Hi, I use this plugin to create jpa Q-classes successfully from java source files located inside the project.

However, is it possible to use this plugin to create jpa Q-classes if compiled entity classes are inside classpath jar libraries? [maven](http://www.querydsl.com/static/querydsl/4.1.4/reference/html/ch03s03.html#d0e2512) has some solution to this. There is a generic approach described [he

[2017-12-14 08:29] holgerstolzenberg commented on #91
I do not think this is possible. I even do not see the use case. If the library has annotated classes inside, the Q-classes should also be contained. The build process of the library should take care of building the Q-classes, I see no downside to that. Then just integrate the library.

[2017-12-14 08:29] #91 closed

[2018-02-01 21:39] ben-manes opened #92 "Eclipse output folder confusion"
This may be a Buildship problem, but is an issue I encountered recently. The output folder for Eclipse confuses it when trying to run the application. All other source / generated-sources are placed in `bin/main`, but `autoValue` is in `bin/autoValue`. The editor discovers the code, but a `NoClassDefFoundError` occurs when executing it. The solution is to edit the configuration and set it to `bin/

[2018-02-02 09:15] holgerstolzenberg commented on #92
Well it is hard to tell what is going on here because I don´t use Eclipse nor Buildship and especially because I do not know your build configuration.
One thing I´d like to emphasize is that I do not think its a good idea to put generated sources to the `bin` or `build` or whatever output folder. Generated sources should also be placed under the source tree of the project/modules. This was the ini

[2018-02-02 09:16] holgerstolzenberg commented on #89
Ping @rbalazsi any news, otherwise I am going to release the plugin and close the issue.

[2018-02-02 17:12] ben-manes commented on #92
Buildship is built into Eclipse, and sponsored by the Gradle team. The `bin` directory is where Eclipse stores its incrementally compiled output, so as to not conflict with the build tool's.

The more common idiom is that anything generated by the build system goes into its output directory, `build` in Gradle. This would follow other build tools, like Maven and Bazel, and best practices in non-opi

[2018-02-10 21:04] gclayburg opened #93 "querydsl plugin conflicts with IntelliJ internal platform test runner"
I have a simple spring boot project using gradle.  It has one test that basically just verifies it can read properties from application.properties file.  Things work fine running this test under gradle or under the internal IntelliJ IDEA test runner.

However, if I enable this line in buld.gradle

[code]

then IntelliJ IDEA test runner fails when running the test.  It seems that for some reason th

[2018-02-11 03:39] gclayburg commented on #93
Ok, for anyone else running into this, I found an IntelliJ setting to workaround this issue.  When this plugin is used, you need to check the "Delegate IDE build/run actions to gradle".  Without this, the IntelliJ
project model gets confused when also using the "Platform Test Runner".

![delegate-ide-build-run-actions-to-gradle](https://user-images.githubusercontent.com/1435496/36069183-02a664ee-0

[2018-02-23 18:09] gclayburg commented on #93
Ok, I shared a project that demonstrates this issue here:
https://github.com/gclayburg/querydsl-plugin-intellij-fail

To see the issue, do this:
1. clone the project
2. import the project into intellij.
3. try running the tests - they should fail
4. comment out the import of the querydsl gradle plugin in build.gradle and re-run the tests.

[2018-02-27 09:50] holgerstolzenberg commented on #71
Closing this as plugins are not directly designed to support Groovy language.

[2018-02-27 09:50] #71 closed

[2018-02-27 09:51] holgerstolzenberg commented on #83
Closing this as plugins are not directly designed to support Groovy language.

[2018-02-27 09:51] #83 closed

[2018-02-27 10:04] holgerstolzenberg commented on #89
Plugin was released:

https://plugins.gradle.org/plugin/com.ewerk.gradle.plugins.jaxb2

[2018-02-27 10:04] #89 closed

[2018-03-28 08:11] pawel-piatkowski opened #94 "Generating Q classes from test sources"
Should this plugin generate **Q classes** from test sources i.e **src/test/java**?

[2018-03-29 13:10] DanAngelus opened #95 "Pass additional args to xjc (jaxb2 plugin)"
Hi,

Is there a way I can pass additional arguments to xjc such as -XtoString using this plugin?

Regards,
Dan

[2018-03-29 15:06] holgerstolzenberg commented on #94
I never tried that. The plugin is not designed for that use case.
Could you describe your use case with more details? I´d like to know if this is something really needed to be delivered by the plugin.

[2018-03-29 15:17] holgerstolzenberg commented on #95
No that is not possible at the moment.

In general it is possible for the plugin to support more options but that depends upon the options the Ant task provides, which is wrapped by the plugin.

Reading through https://docs.oracle.com/cd/E17802_01/webservices/webservices/docs/2.0/jaxb/xjcTask.html it looks like command line args should be possible.

[2018-03-29 17:24] DanAngelus commented on #95
Reading through that page it looks like the 'arg' option is what I need to pass through the additional args, something like this would be useful:
[code]

[2018-04-01 04:41] denov opened #96 "Having issues migrating from a maven war project using Idea 2018 to gradle 4.6"
Apologies if this isn't the right place to ask this.  I've been banging my head on this for too long so I'd thought I ask a couple questions.  i'm a bit new to gradle so maybe i'm just doing it wrong..

parts of build.gradle -

[code]
gradle/querydsl.gradle -

[code]

If I don't set the sourceSet (I wish this could be a config param) then Idea only adds _providedCompile_ as dependencies and none o

[2018-04-01 13:25] griffio commented on #96
@denov

I tried out most of the same gradle build you have used, same plugin references, Intellij 2018 and Gradle 4.6, and it seems to work as expected. I can access the Q references from a Main.java location in src/main/java.
The "Q" sources are generated in the place you have specified (buildDir/generated).
The "Q" classes are compiled in the buildDir/classes/java/main, along with the others.

T

[2018-04-02 00:37] denov commented on #96
sh*t!,  turns out i had some stupid typo that got fat fingered into a completely unrelated file that was causing the project not to compile.   too bad the log didn't reflect the actual problem :(  but the project builds now

still wondering about -

If I don't set the sourceSet (I wish this could be a config param) then Idea only adds providedCompile as dependencies and none of the queryDsl import

[2018-04-02 07:58] griffio commented on #96
@denov Glad you had some success 👍

📓 As you have used a custom "buildDir/generated" sources location - normally this "build" location is excluded from being detected as "sources".  Setting the "sourceSets" is necessary with Intellij as it seems to be the only way to mark generated "source" modules from a Gradle build.

Alternatively, folks use the "idea" plugin to configure the modules. https://d

[2018-04-02 23:04] #96 closed

[2018-04-03 11:55] pawel-piatkowski commented on #94
The use case is very fundamental, just imagine you have some generic piece of code and you want to write some integration tests with some example Q classes. In the application I'm currently developing there are plenty of such tests.

[2018-04-10 06:48] holgerstolzenberg commented on #95
Okay I´ll try to get that in place this week.

[2018-04-10 07:01] holgerstolzenberg commented on #94
Actually the plugin was not designed to generated Q classes for tests. This would imply setting up a seconds target folder, e.g. `src/test/querydsl` and adding that to the classpath.

I still don´t really get the point with the example Q classes. A mean "normally" you have Q classes in your `main` source set which are then tested by tests. If it is for demonstration purposes only, I´d consider som

[2018-04-10 07:47] holgerstolzenberg commented on #95
Okay I´ve just released the plugin with the new configuration option `additionalArgs = ['-XtoString']`.

The plugin is available here:
https://plugins.gradle.org/plugin/com.ewerk.gradle.plugins.jaxb2

@DanAngelus could you please give it a try?

[2018-04-10 10:08] DanAngelus commented on #95
I've given that a quick test but it doesn't seem to work:

**build.gradle**
[code]
**my-schema.xsd**
[code]

Gives me this error, which seems to indicate that the '-XtoString' argument isn't making it through:
[code]

[2018-04-18 07:40] ben-manes commented on #92
Closing as I ended up rewriting my build snippet to use `annotationProcessor` and not rely on this plugin. That fixed the odd Eclipse problem, and also let me upgrade to autoValue 1.6. Thanks for the plugin though, it had been helpful.

[2018-04-18 07:40] #92 closed

[2018-04-25 08:50] alvinmeimoun opened #97 "Querydsl : Add support for querydsl compiler args"
Hi

The Maven QueryDSL plugin has possibility to add some custom parameters to the QueryDSL compiler. When i migrated my project to Gradle, i tried to find the same on this plugin but it doesn't seem available.

This is the Maven plugin configuration that contains the parameters
[code]

They change the way that QueryDSL are generated.

I found a workaround without using the plugin but i needed to

[2018-04-29 15:05] griffio commented on #97
Hi @alvinmeimoun - I think the plugin can support the apt global serializer configuration _better_. The serializer _annotations_ placed in code only support a limited number of options.
Also, the list of compiler options changes per release...
Currently http://www.querydsl.com/static/querydsl/4.2.1/reference/html/ch03s03.html
So the way it is configured in the plugin needs to support that.

If you

[2018-05-02 11:06] alvinmeimoun commented on #97
Hi,

I made a pull request

As you said i agree that it's difficult to make a correct list of options due to the changes per release.
So i just added a parameter name aptOptions (List) and these paramaters are passed as compiler agrs prefixed by "-A". It let the flexibility of APT parameters for any release of querydsl

[2018-05-05 09:03] griffio commented on #97
@alvinmeimoun Thanks - I was able to try it out locally on the latest gradle 4.7 and seems ok
@holgerstolzenberg Can you take a look at this PR and see if it can make it to release?

[2018-05-13 12:29] boris-petrov commented on #95
@holgerstolzenberg - this doesn't seem to work in my case either. I think the problem is [here](https://github.com/ewerk/gradle-plugins/commit/9d5c3187415dcbb417090edc18f980dca6378fb1#diff-5986af2a9a23367ac51181535acac4adR19). The `arg` argument is expected to be a string of arguments according to the documentation (as you have also written in the README) but you've actually made it a Set. Changin

[2018-06-08 13:13] jenarros-ct opened #100 "integration-test plugin uses deprecated Gradle methods"
It seems that the integration plugin uses now deprecated methods. Running with Gradle 4.8 I get the following warning message:
[code]

[2018-07-02 08:54] #95 closed

[2018-07-02 09:05] #69 closed

[2018-07-02 09:11] holgerstolzenberg commented on #97
Sorry guys, have been very busy lately and my Github notifications messed up, otherwise the PR would have had it made to release much earlier.

@alvinmeimoun Thanks for the PR.

Plugin with version `1.0.10` was released to the portal.

[2018-07-02 09:11] #97 closed

[2018-07-02 09:33] holgerstolzenberg commented on #93
I tried your sample and I do not think that this is an issue with the `querydsl-plugin` at all! I think the problem is that you have an `application.properties` file under `src/main/resources` and under `src/test/resources` which is problematic in terms of Java classpath loading. Your sample works from command line but not from IDE. There is no guarantee the IDE and Gradle collect resources from t

[2018-07-02 09:33] #93 closed

[2018-07-02 09:33] #94 closed

[2018-07-02 09:37] holgerstolzenberg commented on #100
Currently it is very hard to keep the pace with the Gradle release cycle. The plugins are currently developed against Gradle `4.3.1` so the deprecation warnings with Gradle `4.8` are legitime.

I am not quite sure how to deal with this yet. There are some other internal changes that need to be made to the plugins in order to comply to the latest Gradle stuff.

I think I´ll prefer to update all the

[2018-07-02 12:44] jenarros-ct commented on #100
I understand, we can live with it for now. Thanks!

[2018-07-02 14:17] gclayburg commented on #93
As I recall, this is only true when querydsl plugin is used.  Remember, the sample also works from both command line and IDE when the plugin is not enabled.  I didn't look at the querydsl source code in great detail, but it looks like there is some sourceset manipulation going on. Maybe that introduces the subtle issue you identified?

[2018-07-03 09:05] holgerstolzenberg commented on #93
I didn´t look at the source code for a long time either 😉

The `sourceSet` manipulation does change the behaviour how the final class path works. What the plugin generally does is adding `src/querydsl/java` to the classpath.

Still it is no good to have multiple resources with the same name on the classpath. You will have no guarantee that the correct one will be picked up by the classloader.

[2018-07-03 11:32] holgerstolzenberg commented on #12
Without any further detailed information we cannot suggest solutions. Please be more precise what you did and what does not work. Maybe it is a good idea to open up a new issue concluding the `build.gradle` that does not work.

[2018-07-03 15:55] gclayburg commented on #93
Right, I wish I had the time to generate a PR for this but I'm just swamped at the moment.  I am ok with the workaround I mentioned some time ago.

Not to be too nit-picky, but this statement is true with regards to the Java classpath in general, but in the case of the maven and gradle standard directory layout, there are assurances as to which `application.properties` will be loaded.  During the

[2018-07-12 17:22] griffio commented on #100
@holgerstolzenberg
Yes - Gradle seems to release a major point release every month - so it won't be long 🔢

In this specific case it's possible to update the deprecation, however it would break compatibility with gradle version < 4
See https://github.com/ewerk/gradle-plugins/pull/101

The Gradle deprecated api changes can be seen in each version - for example https://docs.gradle.org/4.0/release-no

[2018-08-17 15:09] persapiens commented on #39
works like a charm @ieugen

Thank you very much.

[2018-09-05 04:31] afganhalbana commented on #93
Hi @gclayburg thanks for saving my ass !! I've been strugling this for a day, your workaround also work for me. In my case Intellij 2018.1 CE can't recognized the QClass which is already generated because somehow the QClass is not included in build path even tho i already mark it as a source directory. That happens because i have some codes that need to access to generated class directly.
So after

[2018-09-05 14:56] gclayburg commented on #93
Interesting that you mention that, @afganhalbana .  I was just looking at this issue again yesterday.  I have re-organized my project and this workaround no longer works for me.  I strongly suspect that this gradle plugin manipulates the test classpath in subtle ways that cause the IntelliJ internal test runner to use an incorrect classpath.

[2018-09-25 13:34] pkostrzewa opened #103 "Allow generation of Q classes from configurable sources"
Having additional option to define for which source sets `Q` classes should be generated would be useful.

@holgerstolzenberg Feedback would be apprieciated.

[2018-09-26 11:53] danielvolkov opened #104 "The following options were not recognized by any processor"
Hey, everyone!
I have next issue
my build.gradle

[code]

Error message what i got during compilation:
**warning: The following options were not recognized by any processor: '[querydsl.packageSuffix, querydsl.includedPackages]'**

I really need these options for a successful compilation process.

Could you help me please figure out what is wrong at my configurations, if there is no bug?

[2018-09-26 20:50] griffio commented on #104
Hey @danielvolkov,

Looks like it is working (see below), however the error messages seem to be generated because several Annotation processors are being executed and the arguments are not applicable to all of them.

For example, with the following build, I see in the build/generated/sources

A class called ```griffio.xyz.ZEntity```

[code]

Build Output

[code]

[2018-09-26 21:46] ynixt opened #105 "Problem with querydsl generator"
Hi,

When I run compileQuerydslJava, I got erros of imports that doesn't make sense:

`
C:\projetos\1746_geotec\20 - Fontes\Workspace\Geotec\src\querydsl\java\br\com\engdb\geotec\domain\base\QCampoPersonalizadoDoInstrumentoBase.java:3: error: package com.querydsl.core.types does not exist
import static com.querydsl.core.types.PathMetadataFactory.*;
                                     ^
C:\projeto

[2018-09-27 13:15] danielvolkov commented on #104
There was another reason of Failing build at my config! I`ve already resolved it! Thanks!

[2018-09-27 13:15] #104 closed

[2018-09-27 13:19] danielvolkov commented on #104
I see you also have this warning at console output
`warning: The following options were not recognized by any processor:`
Is it Ok? it can be misleading for developers

[2018-09-28 10:10] holgerstolzenberg commented on #105
I am not quite sure but it looks like your project setup is is correct. You need to provide more information on what is going on. Compile errors indicate its not a plugin problem.

[2018-09-28 12:37] ynixt commented on #105
I deleted the workspace and I imported the project again. The error disappeared.

[2018-09-28 12:37] #105 closed

[2018-10-30 13:58] loginet-vfeher opened #106 "Update the querydsl-plugin readme.md file"
The readme.md file is inconsistent. The aptOptions property is only avaliable in the 1.0.10 release, nevertheless the example build script in readme.md is using the 1.0.9 version of the plugin. Had to investigate what was the issue: bump the version in the plugin section of the plugin.

[2018-10-30 16:34] loginet-vfeher commented on #70
any news regarding this support? what is the suggested workaround?

[2018-11-01 12:08] #106 closed

[2018-11-01 12:13] holgerstolzenberg commented on #100
The MR provided by @griffio has been merged to MASTER.

@jenarros-ct: Could you please give the snapshot version a try before I release the new Version?

[2018-11-02 20:07] jenarros-ct commented on #100
I have tried the version from master and the warning is gone. Thanks a lot!

[2018-11-20 11:40] marcomsousa opened #108 "querydsl-plugin don't work in Gradle 5.0"
I use querydsl-plugin-1.0.10, when I change Gradle 4.10 to 5.0 stop working.

[code]

[2018-11-21 15:03] griffio commented on #108
Hi @marcomsousa

Currently this plugin is unlikely to work with Gradle 5.x as there are a number of internal changes required from Gradle 4.6 needed to support the upcoming release.

I tried with the latest release candidate version

`./gradlew wrapper --gradle-version=5.0-rc-4
`
and confirm error with

`./gradlew --S build
`

I believe that Gradle 5 doesn't load annotation processors from the com

[2018-11-21 15:16] marcomsousa commented on #108
I don't know if this can help you, but with gradle 5.0 we have to change in the dependencies block, from

` apt("org.mapstruct:mapstruct-processor:${mapstructVersion}")`
to
` annotationProcessor("org.mapstruct:mapstruct-processor:${mapstructVersion}")`

[2018-11-28 13:31] k1per opened #109 "Kotlin"
By adding kotlin plugin (org.jetbrains.kotlin:kotlin-gradle-plugin:1.3.10) and trying to build project with jaxb2 plugin getting weird exception

Task with name 'compileJaxb2Kotlin' not found in project

problem occurs when using kotlin plugin verstion 1.3.10, but okay for 1.2.30

[2018-12-05 11:30] kmaterka commented on #108
As a workaround add:

[code]

[2018-12-05 12:43] kmaterka commented on #70
In case someone is here to get quick answer, as a workaround you can add:
[code]

[2018-12-05 13:43] holgerstolzenberg commented on #109
The plugin is not intended nor designed to be used with Kotlin

[2018-12-05 13:43] #109 closed

[2018-12-05 13:46] holgerstolzenberg commented on #108
The plugins are not compatible to Gradle 5 at the moment.

[2019-03-06 04:26] a854363956 opened #110 "No value has been specified for property 'aptOptions.processorpath'."
### Environment:
#### Java
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

#### Gradle
version  5.1-rc-3

#### Eclipse
Version: 2018-09 (4.9.0)
Build id: 20180917-1800

Lombok v1.18.4 "Envious Ferret" is installed. https://projectlombok.org/

### What happened ?

I carry out my task. ```gradle run buil

[2019-03-06 09:12] #110 closed

[2019-03-07 11:47] markuskruse opened #111 "Warning about tools.jar for jdk 11"
I get this:

[code]

Config:
`jaxb2 {
    xjc {
        'request-classes' {
            basePackage = 'com.company.cps.ws.model'
            schema = 'src/main/resources/ws/cduManagementSchema.xsd'
            generatedSourcesDir = 'src/generated/cduman'
        }
    }
}`

[2019-03-10 15:51] lshz0088 opened #112 "Annotation processor 'com.querydsl.apt.jpa.JPAAnnotationProcessor' not found"
**When I executed the build command, I made the following mistakes. I'm not very familiar with gradle. Please help me see.**

![image](https://user-images.githubusercontent.com/27722002/54087529-b4d84480-438e-11e9-9c9e-da6e792a91aa.png)

`
**This is my gradle file.**

buildscript{
	repositories {
		mavenLocal()
		maven {
			url = 'http://maven.aliyun.com/nexus/content/groups/public/'
		}
		/*maven

[2019-03-11 14:57] huehnerlady opened #113 "jaxb2-plugin: binding seems to be ignored"
hi,

I have a binding file which looks like this:

[code]

my build.gradle:
[code]

so my elements from my xsd should all start with the prefix `MyPrefix`.
But it seems to be ignored.

Do you have an idea what the problem is?

[2019-03-13 13:30] SayakMukhopadhyay commented on #108
Any ETA for the fix of this issue?

[2019-03-15 12:36] #113 closed

[2019-03-22 13:35] feanor777 commented on #108
Thanks, it works.
But are there a normal solution, without extra settings?

[2019-03-30 08:19] aprasadh commented on #110
I am getting the same error with gradle 5.3. No issues with gradle 4.10. Why this issue is closed without reason? What is the solution?

[2019-03-30 08:53] a854363956 commented on #110
I solved the problem.

add dependencies
[code]

add net.ltgt.apt plugins
[code]

Related address

1. [https://github.com/gradle/gradle/issues/4956](https://github.com/gradle/gradle/issues/4956)
2. [https://a854363956.github.io/2019/03/06/gradle/#more](https://a854363956.github.io/2019/03/06/gradle/#more)  This is the address in Chinese.

[2019-04-01 09:40] holgerstolzenberg commented on #110
The issuer closed the ticket. As a side note, the plugins are currently not compatible to Gradle 5.

[2019-05-03 11:48] LilithBristol commented on #112
### same question
and my build.gradle

[code]
i looked close issue ,that somebody give a config

[code]
i use this config and the gradle don't report error  **"Annotation processor 'com.querydsl.apt.jpa.JPAAnnotationProcessor' not found "**

but produce a new problem
when gradle run Task :{My-Project-Name}:compileQuerydsl
report error can't find symbol ,can't find package
just like the buildtool c

[2019-05-03 15:48] unikzforce commented on #108
this problem seems to be serious. and  also
[code]
didn't work.

[2019-05-03 15:58] unikzforce opened #114 "Gradle 5.x problem."
the plugin don't work with gradle 5.x.
my current gradle version is 5.4.1, this plugin is broken after 5.x.

in my situation the problem is:
[code]

in [this comment](https://github.com/ewerk/gradle-plugins/issues/108#issuecomment-444453764) in another issue he suggested to add the following:
[code]
but the recommended solution just changed the problem to another:

[code]

and tried a lot of worka

[2019-05-04 08:47] LilithBristol commented on #59
------
java 11
gradle 5.4
idea 2018.3
------

when i use

[code]

it report error
**Annotation processor 'lombok.launch.AnnotationProcessorHider$AnnotationProcessor' not found**

anyone can help?

[2019-05-04 08:51] LilithBristol opened #115 "How to both use `Querydsl` and `lombok` with gradle?"
----------
java 11
gradle 5.4
idea 2018.3
--------

i see some issue in this project issue list,they give some advice
but seems like not enough

This is my gradle config

[code]
then when i use gradle build

it report error
**Execution failed for task ':compileQuerydsl'.**
**Annotation processor 'lombok.launch.AnnotationProcessorHider$AnnotationProcessor' not found**

if i delete the lombok depend

[2019-05-06 09:20] holgerstolzenberg commented on #114
Yes. That is a known problem. Gradle API changed a bit with version 5. The plugins are currently not compatible to Gradle 5+. I am trying to fix that in future but have no time for that currently.

[2019-05-06 09:20] #114 closed

[2019-05-06 09:23] holgerstolzenberg commented on #112
It looks like you are using Gradle 5+. The plugins are not compatible with Gradle 5+ and will not work with `implementation` configuration. If you want to use the plugin you need to stick with Gradle 4 and `compile` configuration for the moment.

[2019-05-06 09:23] #112 closed

[2019-05-06 09:24] holgerstolzenberg opened #116 "Upgrade integration-test plugin to Gradle 5+"

[2019-05-06 09:25] holgerstolzenberg commented on #112
Opened #116

[2019-05-06 09:26] holgerstolzenberg commented on #108
Closing in favour of #116.

[2019-05-06 09:26] #108 closed

[2019-05-06 09:26] holgerstolzenberg commented on #114
See #116.

[2019-05-06 09:27] #100 closed

[2019-05-06 09:27] holgerstolzenberg commented on #100
Also see #116.

[2019-05-06 09:34] holgerstolzenberg commented on #103
Agreed. Closing in favour of #107.

[2019-05-06 09:34] #103 closed

[2019-05-06 09:36] holgerstolzenberg commented on #111
The plugins are not implemented/tested against JDK-9 or higher.

[2019-05-06 09:41] unikzforce commented on #114
thanks a lot sir 🥇 I appreciate your energy and efforts.

[2019-05-06 09:43] holgerstolzenberg commented on #115
The plugin is not compatible to Gradle 5 or higher. It is also not tested against Java 9 or higher. Project Jigsaw might be a problem also. Please see https://github.com/ewerk/gradle-plugins/milestone/1.

You can downgrade Gradle/Java if that is possible and retry, but I think this is not an option for you.
I am closing this by now but feel free to reopen  if a downgrade would fit.

[2019-05-06 09:43] #115 closed

[2019-05-06 09:48] holgerstolzenberg opened #117 "Upgrade querydsl-plugin to Gradle 5+"

[2019-05-06 09:53] holgerstolzenberg opened #118 "Upgrade annotation-processor plugin to Gradle 5+"

[2019-05-06 09:54] holgerstolzenberg opened #119 "Upgrade dagger-plugin to Gradle 5+"

[2019-05-06 09:55] holgerstolzenberg opened #120 "Upgrade auto-value plugin to Gradle 5+"

[2019-05-06 09:55] holgerstolzenberg opened #121 "Upgrade jaxb2-plugin to Gradle 5+"

[2019-05-11 16:13] guxiaotu commented on #59
**gradle 5.4.1**
**idea  2019.1.2**
I had the same problem

[2019-06-20 15:21] bsamartins commented on #118
@holgerstolzenberg what is the status on this? I can pick this up if needed

[2019-06-20 15:23] bsamartins commented on #117
@holgerstolzenberg what is the status on this? I can pick this up if needed

[2019-06-21 20:42] gcdd1993 commented on #59
remove

project.afterEvaluate {

  project.tasks.compileQuerydsl.options.compilerArgs = [
          "-proc:only",
          "-processor", project.querydsl.processors() +
                  ',lombok.launch.AnnotationProcessorHider$AnnotationProcessor'
  ]
}

and add

configurations {
    querydsl.extendsFrom compileClasspath
}

i have solved the question just now

[2019-07-03 07:36] holgerstolzenberg commented on #117
Hey @bsamartins,

help is pretty much appreciated. I already started with this but have no real time to finish up.
For the new "generation" of the plugins, I decided to split them out into distinct projects to have them decoupled from each other.

The source code for the new querydsl-plugin is here:
https://github.com/ewerk/querydsl-plugin

I already cleaned up some stuff, Gradle 5 is working but

[2019-07-04 16:03] ankitkeer opened #123 "Annotation processor '' not found"
_I get the below error when I included the querydsl plugin in my build file._

---------------------------------------------------------------------------------------------------------

error: Annotation processor '' not found
warning: Annotation processing without compilation requested but no processors were found.
1 error
1 warning

---------------------------------------------------------------

[2019-07-22 21:50] bsamartins commented on #117
No problem.
Sorry anyway as I only gome some time now to pick this up.

Any thoughts on the following?

1. Migrate unit tests to junit jupiter
2. Migrate gradle buildscripts from groovy to the kotlin DSL

[2019-07-24 08:29] holgerstolzenberg commented on #117
No problem to go with Jupiter.

For Kotlin I´d say no as there is we have no in-house knowledge. What are the benefits of using Kotlin as build DSL?

[2019-07-26 17:00] bsamartins commented on #117
There's not nothing that you couldn't do with the Groovy DSL apart from being statically compiled and better IDE integration, particularly with IntelliJ, with code completion, navigation to sources, documentation, refactorings, etc.

There are more details here
https://docs.gradle.org/current/userguide/kotlin_dsl.html#sec:ide_support

It's slightly more verbose and seems like latest version of Int

[2019-07-30 13:35] holgerstolzenberg commented on #117
Alright. I am fine with that. You can go with Kotlin.

[2019-08-01 09:59] chenlaiqing1987 commented on #112
this answer is  really work

[2019-08-05 13:25] bsamartins commented on #117
What is meant to be minimum JDK version required to run the plugin?
Source and target compatibility seem to target JDK 1.9 but sweeney seems to be expecting minimum 1.8.

Is it worth closing this issue and opening a new under the new project?

[2019-08-06 07:36] holgerstolzenberg commented on #117
Well that is a good question. The old Gradle plugins are compatible with 1.8 already. On the one hand I am thinking about a more radical approach, having the new plugins being compatible to Java 9+ and Gradle 5, especially with the EOL of Java 1.8 in mind. Still, there might be a lot of people out there with 1.8.

I tend to say we go with 1.9, but I´d like to hear your opinion on that.

The incons

[2019-08-07 13:02] bsamartins commented on #117
Although, I too favor big bangs, at the moment I don't see a need to move into 1.9 or later, since 1.8 seems to be the minimum required for most projects.

Targeting 1.8 will give teams/developers the opportunity to keep using the plugin with Gradle (which still requires at least java 8)  without forcing them to make the move to a later JDK.

[2019-08-07 13:21] holgerstolzenberg commented on #117
Okay then we go with 1.8

[2019-08-07 13:21] holgerstolzenberg commented on #117
Closing in favour of https://github.com/ewerk/querydsl-plugin/issues/3

[2019-08-07 13:21] #117 closed

[2019-08-07 13:24] holgerstolzenberg commented on #123
The plugins are, as stated in the README not compatible to Gradle 5+. Please see https://github.com/ewerk/querydsl-plugin for an upcoming Gradle 5 compatible version!

[2019-08-07 13:24] #123 closed

[2019-08-07 13:25] holgerstolzenberg commented on #73
Groovy will not be supported.

[2019-08-07 13:25] #73 closed

[2019-08-18 12:27] gandrade commented on #12
Yeap, this workaround still works for the most recent plugin version; Currently using `1.0.10` version.

[2019-09-26 08:52] deepy opened #124 "Make 'separate location to existing source code' check optional"
Related to #76

We have a project that only consists of generated files and having to move these out into a separate sourceSet is kinda annoying, it'd be great if this check could be made optional

[2019-10-15 13:49] Toby91 commented on #76
I don't think this is true. Even if you generate files inside /src/main/xxx IntelliJ does not see them. The one thing that works for me (and I prefere to do it this way) is to generate files inside the build directory and configure this directory as sourceSet. But the plugin will not let you do that. Implementing #124 would be a solution. This just stopping me to do what I really want to do. Even

[2019-11-15 13:35] deepy commented on #121
Is this still an issue?

We're running it on Gradle 5.6.4 and I'm not seeing any warnings related to the jaxb2-plugin.

[2019-12-05 08:29] holgerstolzenberg commented on #121
The idea is to modernize the plugin. Still, as of Gradle 5 annotation processor handling has become more easy, so that plugin itself is kinda obsolete. At the moment I am unsure whether to continue the plugin.

[2019-12-05 08:35] #124 closed

[2019-12-05 08:37] deepy opened #126 "Configuration option 'catalog' is currently a *required* option in jaxb2-plugin and should be optional"
There's a fix in https://github.com/gradle-community/jaxb2/pull/1

[2019-12-05 08:38] holgerstolzenberg commented on #118
@bsamartins I completely missed your comment on this one. Are you still willing to port the plugin?

[2019-12-05 08:43] holgerstolzenberg commented on #126
@deepy Can you please provide more information/details about this issue.

[2019-12-05 08:46] deepy commented on #126
If you don't set the catalog option the build fails

[2019-12-05 09:31] #126 closed

[2019-12-19 07:05] harrshiil commented on #114
hi, @unikzforce I am getting the same errors after adding a task in the Gradle file.
what did you do? did you downgrade your Gradle version or what was your step?
can you help me?

[2019-12-19 12:59] unikzforce commented on #114
Sorry, I've downgraded to version 4

[2019-12-23 10:36] mycup commented on #114
this is the only way, downgraded to version 4?

[2019-12-28 10:57] Morons opened #127 "compileQuerydslKotlin, compileQuerydslJava, processQuerydslResources NO-SOURCE"
What is needed to add - I thought it will find the SOURCES with `springDataMongo = true` and Classes annotated with `@Document`

Using /usr/lib/jvm/java-11-openjdk-amd64 (11.0.3)

gradle.wrapper.properties

`distributionUrl=https\://services.gradle.org/distributions/gradle-5.6.4-all.zip`

[code]
Results in:
[code]

[2020-01-06 10:31] holgerstolzenberg commented on #127
Please be more specific on your actual issue. Also please note that the plugins are not compatible with Gradle 5 and have not been implemented against JDK-8+. There is a new plugin in the making that should achieve this.

https://github.com/ewerk/querydsl-plugin

[2020-01-06 10:31] #127 closed

[2020-02-05 18:40] ronipolus opened #129 "Jaxb2 plugin - Multiple schema files"
Hello,
I am trying to generate jaxb2 classes from the following xsd structure. Although, your jaxb2-plugin sets a limit to only selecting a single schema file and package name has to be specified.

The following project is a valid xjc task to generated java classes.

Would it be possible to get something similar into this plugin ?
We would only provide the schema directory, and the bindings direct

[2020-02-24 10:03] holgerstolzenberg commented on #129
The plugin already supports generation from of multiple schemas as described in the plugins documentation. I didn´t work on the plugin for a long time and need to remember JAXB specific stuff.
Can you please elaborate in more detail why the current configuration for multiple schemas does not work for you?

[2020-02-28 06:15] sathish1295 opened #130 "To include multiple wsdl files in schema"
Hi all,

I need to generate the classes with multiple wsdl files.

[code]

This doesn't works for me. Kindly anyone guide with this

[2020-02-28 08:48] holgerstolzenberg commented on #130
Please be more specific on the error. "Doesn´t work for me" is not a suitable description for the error. Describe your Java version, env, Gradle version, what you did etc.

In the `xjc` configuration, is `*Package_name*` only a placeholder?

[2020-02-28 09:47] wwadge opened #131 "Change compile to implementation"
https://github.com/ewerk/gradle-plugins/blob/master/querydsl-plugin/src/main/groovy/com/ewerk/gradle/plugins/QuerydslPlugin.groovy#L97

Can you change the compile dependency to "implementation" (or make the adding a dependency optional) to make it compatible with Gradle 6+ ?

[2020-02-28 11:17] sathish1295 commented on #130
@holgerstolzenberg  Sorry for my mistake and wasting your precious time.

I used Java 1.8 with gradle 5.6.

And sorry, after giving different package names  for both xjc, i solved it .
Hence I am closing this issue, and Thank you for replying this issue.

Thanks

[2020-02-28 11:17] #130 closed

[2020-02-28 11:18] sathish1295 commented on #130
@holgerstolzenberg Sorry for wasting your time, This is my mistake and I have solved it.

[2020-03-02 14:17] shafinmahmud opened #132 "Upgrade annotation-processor plugin to Gradle 6+"

[2020-03-07 05:57] timpamungkas commented on #132
I'm using gradle 6, trying with querydsl 4.2.2. I see a lot of compile error when running `gradle build`, such as

[code]

So currently it is not possible to use gradle plugin with gradle 6?

I'm trying to use gradle 5 but the error persists.

[2020-03-08 13:40] shafinmahmud commented on #132
I dont know why gradle plugin compatibility is so far behind. Gradle is the modern day build tool and it should get priority.

[2020-03-09 08:17] holgerstolzenberg commented on #132
@shafinmahmud This is a non commercial open source project that is developed mostly in spare time. Feel free to contribute and make it available for Gradle 5+ anytime you need.

[2020-03-09 08:21] holgerstolzenberg commented on #132
@timpamungkas The plugins not compatible with Gradle 5 ongoing. In terms of annotation processing, a lot of things changed with Gradle 5, what essentially makes the plugin obsolete. As of Gradle 5 annotation processing is supported out of the box by the `compileJava` tasks. I have not decided fully, but I think this might be a reason to discontinue the plugin, as I have no time at the moment…

[2020-03-09 08:21] #132 closed

[2020-03-09 08:22] holgerstolzenberg commented on #131
The 'new' querydsl plugin has a own repo:

https://github.com/ewerk/querydsl-plugin

[2020-03-09 08:22] #131 closed

[2020-03-09 08:25] holgerstolzenberg commented on #129
Or can you provide a small example project that show cases the problem.

[2020-04-27 17:14] skywangyan commented on #76
Agree, the location of generated code should not matter, by default it should not be in src/main,
as long as gradle specify where to find the source code,  it should not matter. This is bad, hope to fix.

[2020-05-20 07:47] badgolim commented on #118
Is there some workaround to use gradle 5 and query dsl?

[2020-05-20 07:52] holgerstolzenberg commented on #118
There is an incubating plugin not yet released: https://github.com/ewerk/querydsl-plugin

But as of Gradle 5 no specific plugin is necessary because Gradle annotation processing supports that out of the box.

[2020-06-10 11:44] darshanmehta10 commented on #108
@kmaterka I am having the same problem and tried to add `compileQuerydsl` block. However, I got another error saying:
[code]

Where exactly do we need to add this block?

[2020-06-14 13:47] kmaterka commented on #108
@darshanmehta10

I'm no longer using this plugin, with latest Gradle it is not needed. My configuration:

[code]

[2020-06-21 15:50] digz6666 commented on #108
How about mongodb?

[2020-06-22 14:00] kmaterka commented on #108
Never used that...

Start with something like:
`annotationProcessor "org.springframework.data:spring-data-mongodb"`

[2020-06-22 14:20] unikzforce commented on #108
in this repository [interview](https://github.com/unikzforce/interview) i've used gradle 6.5 and ewerk plugin 1.0.10

It's not a complete project.

So It can be only build by `./gradlew clean build -x test`

I have a `Dog` class and It seems that It has added `QDog` class for me successfully.
I Cannot confirm this completely right now, but as I continue my task I'll know.
So I'll let you guys know

[2020-06-22 17:26] unikzforce commented on #108
Don't know why it's not working well with `implementation`, It's only working with `compile`

[2020-06-23 03:03] digz6666 commented on #108
Seems like it needs to be updated with newest gradle.

[2020-10-02 12:25] huehnerlady opened #133 "[jaxb2-plugin] Add example for kotlin DSL"
Hi,

I would like to use it with the now commonly used kotlin DSL of Gradle.
Unfortunately it des not seem straight forward to use this plugin with this DSL.
Could you please add some examples for kotlin DSL along with the groovy DSL?

[2021-02-15 12:41] rura6502 commented on #59
not working for me :(

[code]

[code]

[code]

[2021-03-02 10:56] pasumarthivijaykumar commented on #112
What is the possible solution, if i have to use to Gradle 6+ and facing the same? Kindly please let me know.

[2021-03-03 09:17] holgerstolzenberg commented on #112
As of Gradle 5 ongoing you won´t need a plugin any more. Just use Gradle's very own `annotationProcessor` configuration.

[2021-03-03 11:13] pasumarthivijaykumar commented on #112
Thank you for the response. Basically, i did not use plugin in gradle script, but i am facing this issue. Kindly use below mentioned gradle script details.

plugins{
    id 'java'
    id 'maven'
    id 'maven-publish'
}

version = '0.0.1'
description = 'Common domains'

ext {

    jackson = '2.8.10'
    swagger = '1.5.10'
    jaxbBasics = '0.6.1'
    woodstox = '4.4.1'
    logstashLogbackEncoder =

[2021-03-03 11:44] holgerstolzenberg commented on #112
This issue is closed. If you have question about Gradle or its usage, post it at stack overflow or in the Gradle forums, community etc.

I am not going to answer any questions on this channel any more.

[2021-03-03 13:01] pasumarthivijaykumar commented on #112
Thanks lot, sure.

[2021-04-28 08:53] #111 closed

[2021-04-28 08:53] #116 closed

[2021-04-28 08:53] #118 closed

[2021-04-28 08:53] #119 closed

[2021-04-28 08:53] #120 closed

[2021-04-28 08:53] #121 closed

[2021-04-28 08:53] #129 closed

[2021-04-28 08:53] #133 closed